.courses-page {
    margin-top: 10rem;
    padding: $main-pading;

    .courses-container {
        display: grid;
        grid-template-columns: 75% 25%;
        gap: 0px 30px;

        .section-courses {

            &--about {
                display: flex;
                flex-direction: column;
            }

            &--heading {
                @include flex;
                width: 44%;
                margin-top: .5rem;

                .viewers {
                    @include flex;
                    width: 13%;
                    padding: 0.2rem 1rem 0.2rem 1rem;
                    background-color: #F2F2F2;
                    border-radius: 8px;
                }
            }

            &--video-player {
                margin-top: 3.5rem;
                border-radius: 8px;
                background: no-repeat url("/pictures/courses/video.png");
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 76vh;
            }

            &--tablist {
                @include flex;
                margin: 3rem auto;
                padding: 0 1.5vw;
                width: 68%;
                position: relative;

                .flex-container {
                    @include flex

                }

                .four-color-border{
                    padding: 1vw 0;
                    position: relative;

                   
                }

                .tablist_description  {

                    &--heading {
                        margin-left: .8vw;
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    background-color: $primary-red;
                    width: 20%;
                    height: 3%;
                    filter: blur(1px);
                    bottom: -2px;
                    left: 0;
                }
                
            }
        }
    }
}