$card-shadow:0px 19px 72px -2px rgba(25, 27, 29, 0.14);

.without-border {
    border: none !important;
    box-shadow: $card-shadow !important;

}

//! აქ არის კურსის გვერდის მთავარი სტილები,ხოლო(აღწერა,კითხვა-პასუხის და ა.შ)
//! ცსს არის კურსის კომპონენეტის ფაილში.აქ ძალიან დიდდებოდა ამიტომ გადატანა მომიხდა (course_content)
.courses-page {
    margin-top: 10rem;
    padding: $main-pading;


    &--about {
        display: flex;
        flex-direction: column;

        &__heading {
            @include flex;
            width: 35%;
            margin-top: .5rem;

            .viewers {
                @include flex;
                // width: 13%;
                padding: 0.3rem 1rem 0.3rem 1rem;
                background-color: #F2F2F2;
                border-radius: 8px;
                // margin-right: -4.5rem;

                p {
                    margin-left: 1rem;
                }
            }
        }
    }

    .courses-container {
        display: grid;
        grid-template-columns: 73% 25%;
        gap: 0px 40px;


        .section-courses {

            &--video-player {
                margin-top: 3.5rem;
                border-radius: 8px;
                background: no-repeat url("/pictures/courses/video.png");
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 76vh;
            }

            &--tablist {

                margin: 3rem auto;
                padding: 0 1.5vw;
                width: 73%;

                .renderedContent_list {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    li {
                        @include flex;
                        padding: 0rem 2rem 0rem 2rem;
                    }
                }

                .rendered_title {
                    margin-left: 1rem;
                }

                &__container {
                    @include flex;
                    position: relative;
                    padding: 1.5rem 0rem 1.5rem 0rem;


                    .underline {
                        transition: all 0.2s;
                        position: absolute;

                        // background-color: $primary-blue;
                        width: 20%;
                        height: 3%;
                        filter: blur(1px);
                        bottom: -2px;
                        left: 0;
                        box-shadow: $input;

                    }

                    // &:after {
                    //     content: "";
                    //     position: absolute;
                    //     background-color: $primary-red;
                    //     width: 20%;
                    //     height: 3%;
                    //     filter: blur(1px);
                    //     bottom: -2px;
                    //     left: 0;
                    //     box-shadow: $input;
                    // }
                }

                .flex-container {
                    @include flex;
                    cursor: pointer;
                }

                .four-color-border {
                    padding: 1vw 0;
                    position: relative;


                }

                .tablist_description {

                    &--heading {
                        margin-left: .8vw;
                    }
                }







            }


        }

    }
}



@media screen and (max-width: 1600px) {
    .courses-page .courses-container .section-courses--heading {

        width: 50% !important;

    }
}