/// HEADER

.main {
  position: relative;

  &--decoration-red {
    position: absolute;
    top: 7rem;
    display: block;
    width: 7rem;
    height: 9rem;
    z-index: -1;

    // @include background-red;
    // background: {
    //     image: url("../pictures/decoration red.svg");
    //     @include background-properties;
    // }
  }

  &--decoration-red-three {
    position: absolute;
    display: block;
    top: 80rem;
    right: 0rem;
    width: 7rem;
    height: 9rem;
    z-index: -1;

    // background: {
    //     image: url("../pictures/decoration red.svg");
    //     @include background-properties;
    // }
  }

  .hero {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    justify-items: center;
    position: relative;
    height: 100vh;
    width: 90%;
    max-width: $max-width-in-rem;
    margin: 0 auto;

    &--left {
      @include left-side;
      position: relative;
    }

    &--right {
      @include right-side;

      &--image {
        width: 115%;
        position: relative;

        // background: {
        //     image: url("../pictures/hero image@4x.png");
        //     size: 115%;
        //     position: 0% 60%;
        repeat: no-repeat;
      }
    }
  }

  .window {
    width: 100%;
    align-self: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    &--title {
    //   @include title;
      // font-size: calc(20px + (55 - 20) * ((100vw - 300px) / (1900 - 700))) !important;

      &:after {
        content: "";
        display: block;
        // width: 9%;
        // height: 40%;
        position: absolute;
        width: 12%;
        height: 50%;
        top: -25%;
        left: -5%;
        mix-blend-mode: color-burn;
        @include background-properties;

        //     background: {
        //         image: url("../pictures/logomark.svg");
        //     }
        // }
      }

      &--two {
        width: 75%;

        &--info {
          font-family: "primary-text";
          color: $for-text-low-black-opacity;
          margin: 2.8rem 0 4.8rem;
        }
      }

      &--three {
        &--btn {
          @include btn;
          background: $main-color;
          box-shadow: $box-shadow-for-btn-blue;

          &:after {
            @include after-blue;

            // background: {
            //     image: url("../pictures/decoration blue.svg");
            //     @include background-properties;
            // }
          }
        }
      }
    }
  }
}

/// INTRO SECTION
.second-section {
  position: relative;

  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
    height: 125vh;
    width: 90%;
    $max-width-in-rem: 170rem;
    margin: 0 auto;

    &--left {
      @include left-side;
      height: 50%;
    }

    &--right {
      @include right-side;
      height: 50%;
    }
  }

  .window {
    width: 100%;
    align-self: right;

    &--title {
    //   @include title;
    }

    &--two {
      width: 55%;

      // &--info {
      //     @include info;
      // }
    }

    &--three {
      &--btn {
        @include btn;
        background: $brn-red;
        box-shadow: $box-shadow-for-btn-red;

        &:after {
          content: "";
          position: absolute;
          right: -28.3%;
          top: 0%;
          display: block;
          width: 50%;
          height: 130%;
          z-index: -1;

          // background: {
          //     image: url("../pictures/decoration red-one.svg");
          //     @include background-properties;
          // }
        }
      }
    }
  }
}

.third-section {
  position: relative;

  .courses-offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    // grid-row-gap: 5px;
    align-items: center;
    justify-items: center;
    position: relative;
    height: 100vh;
    width: 85%;
    $max-width-in-rem: 170rem;
    margin: 0 auto;
  }

  .offers-card {
    width: 80%;
  }

  :nth-last-child(-n + 3) {
    align-self: flex-start;
  }

  .offers-card--image {
    margin: 0rem 1.8rem 1.8rem 0rem;

    &--placed {
      @include card-image-properties;
      width: 10rem;
      height: 10rem;

      //     background: {
      //         image: url("../pictures/node.png");
      //     }
      // }
    }
  }

  .fourth-section {
    position: relative;
    overflow: hidden;

    .courses {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 5px;
      align-items: center;
      justify-items: center;
      // position: relative;
      height: 100vh;
      width: 90%;
      $max-width-in-rem: 170rem;
      margin: 0 auto;

      .glider-contain {
        grid-column: 1/5;
        height: 100% !important;
        position: unset;
      }

      .draggable {
        height: 100% !important;
        overflow: hidden;
      }

      &--introduction {
        grid-column: 1/5;
        width: 50%;
        text-align: center;

     

        &--info {
          // @include info;
          margin: 3rem 0;
        }
      }
    }
  }

  .arrows-container {
    display: flex;
    // grid-column: 1/5;
    // cursor:pointer;
    position: absolute;
    top: 42%;
    margin-left: 78%;
    width: 6rem;

    .glider-next {
      color: $main-color;
      font-size: 60px;
      position: relative;
      right: 0px;
      z-index: 0;
    }

    .glider-prev {
      color: $main-color;
      font-size: 60px;
      z-index: 0;
      position: relative;
    }

    .glider-next:focus,
    .glider-next:hover,
    .glider-prev:focus,
    .glider-prev:hover {
      color: #65a4f3;
    }
  }

  //// ======= GET-STARTED SECTIOM

  .fifth-section {
    // margin-top: 10rem;
    height: 40vh;
    background: radial-gradient(
      36.42% 603.38% at 82.61% 50%,
      #338eff 0%,
      #0c3bea 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

    .get-started {
      display: grid;
      grid-template-columns: 3fr 4fr;
      grid-template-rows: 2fr 2fr;
      justify-items: center;
      margin: 0 auto;
      width: 90%;
      max-width: $max-width-in-rem;
      align-items: center;
      position: relative;
    }

    .left-side {
      grid-row: 1/3;
      grid-column: 1/2;
      color: $white;
    }

    .right-side {
      grid-row: 1/3;
      grid-column: 2/4;
    }
  }
}
