@media only screen and (max-width: 1440px) {
    .hero {
        padding: 0vw 4vw !important;
        margin-top: 6rem;

    }
}

@media only screen and (max-width: 1024px) {
    .hero {
        height: auto !important;
        grid-template-rows: 1fr 1fr !important;
        grid-template-columns: initial !important;

        &--video {
            width: auto !important;
            height: auto !important;
        }
    }

    .hero--steps__info {
      
        position: initial !important; 
        transform: initial !important; 
        top:initial !important;
        left: initial !important;
        padding: 0vw 8vw !important;
    }
}
@media only screen and (max-width: 768px) {
    .hero {
      margin-top: 12rem !important;
      grid-template-rows: 1fr 2fr !important;
    }

    .hero--steps__info {
        
        padding:initial !important;
      }

      .hero--steps__info--paragraph {
        
        margin: 4vw 0vw 8vw 0vw !important;
       
      }

      .hero--video {
        width: 200% !important;
        
      }

      .btn {
        width: 100% !important;
       }
       
}
@media only screen and (max-width: 320px) {
    
    .hero--steps__info--paragraph {
         max-width: initial !important; 
       
      }
}
