$mycourse-padding:0vw 10vw 0vw 10vw;
$ratings-padding:1.3rem 1.5rem 1.3rem 1.5rem;

.mycourse-line {
    margin: 8rem 0 !important;
    width: 70% !important;
}


.mycourses {

    .mycourses-hero {
        // background-color: wheat;
        width: 100%;
        height: 55vh;
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: $mycourse-padding;
        margin-top: 8rem;
        color: white;
        background: no-repeat url("/pictures/mycourses/hero_img.png");
        background-size: cover;
        background-position: center;


        &__about-course {
            // padding: 0rem 0rem 0rem 11.5rem;

            &--heading,
            &--paragraph,
            &--btns {
                color: white;
            }

            &--heading {
                width: 80%;

                p {
                    line-height: 168.28%;

                }
            }

            &--paragraph {
                margin: .8vw 0vw 3vw 0vw;
                width: 60%;

                p {
                    line-height: 180%;

                }
            }

            &--btns {
                display: flex;
                align-items: center;
                width: 100%;

                .save-bucket,
                .buy-course {
                    a {
                        width: 28rem !important;
                    }
                }

                .save-bucket {
                    margin-left: 4rem;
                    position: relative;

                    a {

                        p {
                            margin-left: 4rem;
                        }

                        .shopping_cart {
                            position: absolute;
                            top: 30%;
                            left: 8%;
                        }
                    }
                }

                
            }

        }

        &__rating-course {
            margin-top: 4rem;

            .ratings,
            .ratings-about {
                border-radius: 18px;
                border: 0.5px solid #ffffff6b;
                padding: $ratings-padding;
                text-align: center;
            }

            .ratings {
                display: grid;
                grid-template-columns: 40% 60%;

                &__with-number {
                    margin-top: -2.5rem;

                    & > div {
                        width: 82%;
                    }

                    &--voice {
                        display: flex;
                        align-items: center;

                        p {
                            margin-left: .5rem;
                        }
                    }

                    &--stars,&--voice {
                        margin-left: 1rem;
                    }

                    
                }

                &__with-percentage {
                    // width: 60%;
                    // margin-left: 5rem;


                    .percentage_container {
                        // margin-top: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &:not(:first-child) {
                            margin-top: .5rem;
                        }



                        .lines_stars {
                            display: flex;
                            flex-direction: column;
                        }

                        .percentage_number {
                            align-self: flex-end;
                        }
                    }
                }
            }

            .ratings-about {
                margin-top: 2rem;

                &__container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        margin-top: 1rem;
                    }
                    
                    // &:not(:first-child) {
                    //     margin-left: 2rem;
                    // }

                    .difficulty {

                        position: relative;

                        .graph {

                            background: no-repeat url("/pictures/mycourses/graph.svg");
                            // background-size: cover;
                            background-position: center;
                            // width: 5rem;
                            height: 5rem;
                        }
                    }

                    .learning {
                        margin: 0 5rem;
                    }
                }


            }
        }

    }





    .СontentReveal {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 70% 30%;

        position: relative;
        margin-top: 7rem;
        padding: $mycourse-padding;




        h1 {

            font-size: calc(15px + (26 - 15) * ((100vw - 300px) / (1900 - 700))) !important;
            display: inline-block;
            font-family: $heading-bold;
            line-height: 180%;

        }

        a {
            font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1900 - 700))) !important;
            font-family: $button-semi-bold;
            text-decoration: none !important;
            color: #338EFF;

            &:last-child {
                color: $white;
            }
        }



        &__mycourse-details {
            hr {
                width: 70%;
                margin: 5rem 0;
                border: 1px solid #C9C9C961;
            }



            //! ინსტრუქტორის შესახებ

            .instructor_profile {
                display: flex;


                &--pic {
                    border-radius: 18px;
                    background: no-repeat url("/pictures/instructor_pic.png");
                    background-size: cover;
                    background-position: center;
                    width: 8rem;
                    height: 8rem;
                }

                &--about {
                    margin-left: 2rem;
                    display: flex;
                    flex-direction: column;
                }

            }

            .instructor_btn {
                a {
                    width: 32rem !important;
                    padding: 1.7rem !important;

                    p {
                        font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1900 - 700))) !important;

                    }

                }
            }

        }




        .side-menu {
            width: 46rem;
            margin-top: 0;
        }
    }

}



@supports ((-webkit-backdrop-filter: blur(47px)) or (filter: blur(47px))) {

    .ratings-about,
    .ratings {
        background: rgba(207, 207, 207, 0.26);
        box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(47px);

    }
}
