///LABIRATORY OAGE IMG
//! აქედან ზოგის სტილები განაწილებულია ექპორტის აუდიტში და ლაბორატორიეაში


.laboratory_img {
    @include bg-image;
    background-image:  url("/pictures/Laboratory.jpg");
    
}
//! usefull sources page BG IMAGE
.sources_img {
    background-image: url("/pictures/singleProduct/სასარგებლო წყაროები.png");
    @include bg-image;
}




.standarts_container__info>div:first-child>a:first-child {
    border-radius: 10px 10px 0px 0px !important;
    border-bottom: none !important;

    &:hover {
        background: linear-gradient(270deg, #ffb81e -26.59%, rgba(255, 255, 255, 0) 72.35%) !important;
        border-radius: 10px 10px 0px 0px !important;
    }


}

div.standarts_container__info__container:last-child>a:last-child {
    border-radius: 0px 0px 10px 10px;
    border-bottom: 0.5px solid #919191 !important;

    &:hover {
        background: linear-gradient(270deg, #ffb81e -26.59%, rgba(255, 255, 255, 0) 72.35%) !important;
        // border-radius: 0px 0px 10px 10px;
    }
}



.standarts_container__info__container:first-child {
    border-radius: 0px 0px 10px 10px;

    &:hover {
        background: linear-gradient(270deg, #ffb81e -26.59%, rgba(255, 255, 255, 0) 72.35%) !important;
        border-radius: 10px 10px 0px 0px !important;
    }

}

.standarts_container__info__container:last-child {
    border-radius: 0px 0px 10px 10px;

    &:hover {
        background: linear-gradient(270deg, #ffb81e -26.59%, rgba(255, 255, 255, 0) 72.35%) !important;
        border-radius: 0px 0px 10px 10px;
    }
}




.standarts {

    position: relative;


    &__img {
        @include bg-image;
        background-image:url("/pictures/standarts.png");
        
        // background-color: $new-blue-for-links;
        // background-color: $white;
    }

    

    .standarts_container {
        padding: 0vw 11vw;
        margin-top: 2rem;
        margin-bottom: 25rem;


        &__heading {
            color: $black;
            text-align: center;
        }

        &__info {


            box-shadow: 60px 64px 54px rgba(0, 0, 0, 0.07),
                0px 0px 14px rgba(0, 0, 0, 0);
            border-radius: 10px 10px 10px 10px;

            &__container {



                a {
                    text-decoration: none;
                    // color: $primary-light;
                    white-space: pre-line;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 3rem;
                    border-top: 0.5px solid #919191;
                    border-left: 0.5px solid #919191;
                    border-right: 0.5px solid #919191;
                    // border-radius: 0px 0px 10px 10px;



                    p {
                        color: $black;
                        // margin-right: 1rem;
                    }
                }

                &:hover {
                    background: linear-gradient(270deg, #ffb81e -26.59%, rgba(255, 255, 255, 0) 72.35%) !important;
                    // border-radius: 10px 10px 10px 10px;
                }


            }




        }
    }

}



@media only screen and (max-width: 1024px) {
    .standarts .standarts_container {
        padding: 3vw 6vw;
    }


    .standarts__title .cut_title {

        transform: initial !important;
        padding: 3rem 0rem 0rem 0rem;
        text-align: center;
        width: 100%;
    }


    .standarts__title .cut_title:after {
        
        display: none;
    }


}



@media only screen and (max-width: 834px) {

    .sources_img,.standarts__img,.laboratory_img  {
        height: 40rem !important;
    }
}

@media only screen and (max-width: 468px) {
    // .cut_title:after {
        
    //     display: none;
    // }


    div.standarts_container__info__container a {
        word-break: break-all !important;
    }
       
    .standarts__title {
       padding: 0vw 2vw;
    }
       

    .heading-3 {
        font-size: calc(20px + (45 - 20) * ((100vw - 300px) / (1900 - 700))) !important;
    }

    .standarts .standarts_container {
        margin-top: 8rem;
        margin-bottom: 15rem;
    }



   

    .standarts .standarts_container {
        margin-top: 6rem;
        padding: 0vw 6vw;
    }

 

    .sources_img,.standarts__img,.laboratory_img  {
        height: 30rem !important;
    }
}