// variables
$css-dot-animation: pulse 0.5s ease-in infinite alternate;
$delay: 0.33s;

$logo-animation: fade 1s ease infinite;
$logo-delay: 1.2s;


  .dot {
    width: 6px;
    height: 6px;
    transform: scale(1);
    background:red;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
    // animation: initial;
    &:nth-child(1) {
      animation-name: $css-dot-animation;
    }
    &:nth-child(2) {
      animation-name: $css-dot-animation;
      animation-delay: 1 * $delay;
    }
    &:nth-child(3) {
      animation-name: $css-dot-animation;
      animation-delay: 2 * $delay;
    }
  }


.button-loading-transparent {
  background: transparent;
}

@keyframes pulse {
  from,
  40% {
    transform: scale(1);
    opacity: 0.5;
  }
  80%,
  to {
    opacity: 1;
    transform: scale(1.25);
  }
}

@keyframes fade {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}