:root {
    
    

   //! ========= Button-GRADIENTS
   --primary-button-gradient: linear-gradient(180deg, #338EFF 0%, #2448E7 394.37%);
   --blue-button-gradient: linear-gradient(180deg, #338EFF 0%, #2448E7 0.04%, #0C3BEA 394.37%);
   --yellow-button--gradient: linear-gradient(180deg, #FFD703 0%, #FFC703 394.37%);
   --green-button-gradient: linear-gradient(180deg, #16C93E 0%, #10B435 394.37%);
   --red-button-gradient: linear-gradient(180deg, #FF5C4D 0%, #F94505 394.37%);
   --black-button-gradient: linear-gradient(180deg, #191B1F 0%, #13151A 394.37%);
   --white-button-gradient: linear-gradient(180deg, #FFFFFF 0%, #F5F5F5 394.37%);


   //! ======= BUTTON-SHADOW
   --btn-shadow-size:0px 20px 36px;

   --btn-primary-shadow:rgba(75, 155, 254, 0.36);
   --btn-blue-shadow: rgba(75, 155, 254, 0.36);
   --btn-yellow-shadow: rgba(255, 199, 3, 0.36);
   --btn-green-shadow:rgba(16, 180, 53, 0.36);
   --btn-red-shadow:rgba(249, 69, 5, 0.36);
   --btn-black-shadow: rgba(19, 21, 26, 0.36);
   --btn-white-shadow:rgba(19, 21, 26, 0.36);



    --icon-drop-shadow:drop-shadow(0px 2.2px 2.5px rgba(0, 0, 0, 0.14));
   
}

