$medium-screen-padding: 4vw;

@media screen and (max-width: $large-screen) {
  .course {
    &__container {
      .course-hero {
        padding: $medium-screen-padding;
      }
    }
  }
}

@media screen and (max-width: $medium-screen) {
  .course .course-hero__about-course--btns .save-bucket,
  .course .course-hero__about-course--btns .buy-course {
    width: initial;
  }

  .course {
    &__container {
      .course-hero {
        &__about-course {
          &--heading {
            width: 95%;
          }

          &--paragraph {
            width: 85%;
          }
        }
      }
    }
    .course_info {
      padding: $medium-screen-padding;
      grid-template-rows: repeat(2, auto) !important;
      grid-template-columns: initial !important;
      gap: 80px 0;

      &__mycourse-details {
        .line {
          width: 100%;
        }
      }

      .side-menu {
        width: 100% !important;
        grid-row: 1/2;
        height: initial !important;
        position: initial !important;
      }
    }

    .instructor_btn {
      .btn {
        width: 100%;
        max-width: initial !important;
      }
    }
  }
}

@media screen and (max-width: $small-screen) {
  .course {
    &__container {
      .course-hero {
        margin-top: var(--navigation-heigth-for-mobile);
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: initial !important;
        gap: 50px 0px;

        &__about-course {
          &--heading {
            width: 100%;
          }

          &--paragraph {
            width: 80%;
          }
        }
        &__rating-course {
          .ratings-about,
          .ratings {
            width: 100%;
            max-width: 35rem;

          }

          .ratings-about {
            &__container {
              .learning {
                margin: 0 3vw;
              }

              .difficulty {
                p {
                  margin-top: -1rem !important;
                }
                .graph {
                  svg {
                    width: 100% !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $ultra-small-screen) {
  .course {
    padding-bottom: calc(var(--bottom-navigation-heigth) + 7vh) ;

    &__container {
      .course-hero {
        padding: 10vw 4vw;
        margin-top: var(--navigation-heigth-for-mobile);

        &__about-course {

          &--paragraph {
            width: 100%;
            margin: calc(1rem + 1vh) 0 calc(2rem + 1.5vh) 0;
          }


          &--btns {
            .save-bucket {
                .btn {
                    span {
                        display: none !important;
                    }

                    .title {
                        p{
                            margin-left: initial !important;
                        }
                    }
                }
            }
            .buy-course,
            .save-bucket {
              width: 100%;

              .btn {
                max-width: initial !important;
                padding: 12px 10px 12px 10px !important;
              }
            }
          }
        }


        &__rating-course {
            .ratings{
                gap: 0 30px;
            }
          .ratings-about,
          .ratings {
            max-width: initial !important;
          }
          
          .ratings-about {
            &__container {
              justify-content: space-around !important;
            }
          }
        }
      }
    }
  }
}
