@media screen and (max-width: 340px) {
    .main_content {

        &--container {
            grid-template-columns: 1fr !important;
            .category {
                display: none !important;
            }

            

            
        }

        .overlay_container {
            display: none !important;
        }

        .landing_courses {
            &--cards {
                grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)) !important;
                gap: 100px 0px;
            }

            .star {
                margin-top: 0.1rem;
            }

            .removed-price-tag:after {
                top: 1.6rem !important;
            }

            &--cards {
                margin-top: 4rem !important;
            }
        }
        &--input {
            .input_container {
                width: 1;
            }
            .sorting {
                display: none !important;
            }
        }
    }
}