@media screen and (max-width: $medium-screen) {
  .courses-page .courses-container {
    grid-template-columns: initial;
    gap: 40px 40px;
    grid-template-rows: 1fr auto;

    .side-menu {
      height: initial !important;
      position: sticky;
      margin-top: 3.4rem;
      position: initial;
      top: 100px;
    }
    .СontentReveal img {
      background-size: 100% 100%;
      width: 100%;
    }
  }
}
@media screen and (max-width: $small-screen) {
  .courses-page {
    padding-bottom: var(--padding-bottom-for-containers);
  }

  .courses-page .courses-container {
    grid-template-columns: initial;
    gap: 40px 40px;
    grid-template-rows: 1fr auto;

    .section-courses--tablist {
      margin-top: 5rem !important;

      .get-resources-btn {
          width: 100%;
          max-width: initial !important;
      }
    }

    .side-menu {
      height: initial !important;
      grid-area: 1/1;
      position: sticky;
      margin-top: 3.4rem;
      position: initial;
      top: 100px;
    }
  }
}
