@media screen and (max-width: $medium-screen) {
  .header {
    .become-lectore {
      display: none;
    }
    .course-page{
        display: none;
    }
  }
}
@media screen and (max-width: $small-screen) {

    .header {
        display: none !important;
    }   
}

@media screen and (max-width: $ultra-small-screen) {


    .mobile-header .logo_container .logo {
        background-position: center 40% !important;
    }
}