@media screen and (max-width: $medium-screen) {
  .header {
    .become-lectore,
    .course-page{
      display: none;
    }

    .logo-search {
      max-width: initial !important;
      width: initial !important;
    }
    .login-profile {
      max-width: initial !important;
      width: initial !important;
    }
  }
}

@media screen and (max-width: $small-screen) {
  .header {
    padding: 1.4vw 4vw !important;

    .course-page,.become-lectore,.profile,.cart,.login{
        margin-right: 2.5rem !important;
    }

    .header-category-menu,
    .search {
      display: none;
    }

    .mobile_hamburger {
      display: block !important;
      @include background-properties(
        "/pictures/mobile_burger.svg",
        cover,
        center
      );
    //   margin-right: 0 !important;

      width: 2.5rem !important;
      height: 2.5rem !important;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $ultra-small-screen) {
  .mobile-header .logo_container .logo {
    background-position: center 40% !important;
  }

  .header {
    .login {
        display: none;
    }
  }
}
