@media screen and (max-width: $large-screen) {
  .user-profile-section {
    .user-content {
      max-width: 75rem;
    }
  }
}

@media screen and (max-width: $medium-screen) {
  .user-profile-section {
    &__container {
      justify-content: center;
      grid-template-rows: auto 1fr;
      grid-template-columns: initial !important;
    }

    .user-content {
      max-width: 80rem;
      padding: 2rem;
      margin-top: 10rem;
    }
  }

  .user-profile-section .user-profile-info__container .user-profile {
    margin: 0 auto !important;
  }
}

@media screen and (max-width: $small-screen) {
  .user-profile-section {
    .profile-hero-img {
      @include background-properties(
        "/pictures/profile/profile_banner_final.png",
        center,
        48% 0%
      );
    }
    &__container {
      padding-bottom: var(--padding-bottom-for-containers);
    }
  }
}
