$padding-input:1rem 1rem 1rem 4rem;
$padding-input-select:1rem 2rem 1rem 6rem;

//! SELECT ELEMENT

.dropdown {
    width: 100%;
    position: relative;
    background-origin: padding-box;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
  }

  .dropdown-select {
    background: var(--primary-grey);
    padding: 1rem 2rem 1rem 6rem;
    position: relative;
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    @include flex;
    transition: all 1s ease;
  }

.dropdown-list::-ms-expand {
    display: none;
  }
  .dropdown-list {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    border: 0.9px solid #c9c9c9;
    border-radius: 8px;
    z-index: 1;
    // transition: all .3s;
  }

  .dropdown-list .item {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .dropdown-list .item .radio {
    display: none;
  }

  .dropdown-list .item label {
    display: block;
    cursor: pointer;
}