/// ========================= HEADING
$extra-bold:"georgian-extra-bold","Eina-semibold","sailec-bold";
$bold: "georgian-bold","Eina-semibold","sailec-bold";
$semi-bold: "georgian-semi-bold","Eina-semibold","sailec-bold";
$medium: "georgian-medium","Eina-semibold","sailec-medium";
$light: "georgian-light","Eina-regular","sailec-medium";
$regular: "georgian-regular","Eina-regular","sailec-medium";
$regular-arial: "georgian-regular-arial","Eina-semibold","sailec-medium";
$regular-bold:"georgian-regular","Eina-semibold","sailec-bold";


.extra-bold {
    font-family: $extra-bold;
}
.bold {
    font-family: $bold;
}

.semi-bold {
    font-family: $semi-bold;
}

.medium {
    font-family: $medium;
}

.light {
    font-family: $light;
}

.regular {
    font-family: $regular;
}
