

/// ========================= HEADING

$heading-bold: "georgian-heading-bold","Eina-semibold";

$button-semi-bold: "georgian-button-semi-bold","Eina-semibold";

$heading-medium: "georgian-heading-medium","Eina-semibold";

/// ========================= PARAGRAPH
$paragraph-light: "georgian-paragraph-light","Eina-semibold";

$paragraph-regular: "georgian-paragraph-regular","Eina-semibold";

$paragraph-regular-arial: "georgian-paragraph-regular-arial","Eina-semibold";



.heading-bold-Noto {
    font-family: $heading-bold;
}

.heading-semi-bold-Noto {
    font-family: $button-semi-bold;
}

.heading-medium-Noto {
    font-family: $heading-medium;
}

.paragraph-light-Noto {
    font-family: $paragraph-light;
}

.paragraph-regular-Noto {
    font-family: $paragraph-regular;
}

.paragraph-regular-arial-Noto {
    font-family: $paragraph-regular-arial;
}


/// ================ FOR NUMBERS
$Eina-semibold: "Eina-semibold";

.Eina-semibold {
    font-family: $Eina-semibold;
}