/// ====================== Noto

@font-face {
    font-family: "georgian-paragraph-light";
    src: url("/fonts/Noto/NotoSansGeorgian-Light.ttf");
}

@font-face {
    font-family: "georgian-paragraph-regular";
    src: url("/fonts/Noto/NotoSansGeorgian-Regular.ttf");
}

@font-face {
    font-family: "georgian-button-semi-bold";
    src: url("/fonts/Noto/NotoSansGeorgian-SemiBold.ttf");
}

@font-face {
    font-family: "georgian-heading-bold";
    src: url("/fonts/Noto/NotoSansGeorgian-Bold.ttf");
}




/// ARIAL-UNICODE

@font-face {
    font-family: "georgian-paragraph-regular-arial";
    src: url("/fonts/Arial-Unicode/Arial-Unicode-MS-Regular.ttf");
}



@font-face {
    font-family: "sailec";
    src: url("/fonts/Sailec.otf");
}

/// NINO-MTAVRULI

@font-face {
    font-family: "nino_bold";
    src: url("/fonts/nino_mtavruli_bold.ttf");
}
@font-face {
    font-family: "nino_regular";
    src: url("/fonts/nino_mtavruli_normal.ttf");
}


