

/// ====================== Noto

@font-face {
    font-family: "georgian-paragraph-light";
    src: url("/fonts/Noto/NotoSansGeorgian-Light.ttf");
}

@font-face {
    font-family: "georgian-paragraph-regular";
    src: url("/fonts/Noto/NotoSansGeorgian-Regular.ttf");
}

@font-face {
    font-family: "georgian-button-semi-bold";
    src: url("/fonts/Noto/NotoSansGeorgian-SemiBold.ttf");
}

@font-face {
    font-family: "georgian-heading-bold";
    src: url("/fonts/Noto/NotoSansGeorgian-Bold.ttf");
}

// === === === === EINA
@font-face {
    font-family: "Eina-semibold";
    src: url("/fonts/Eina/Eina-SemiBold.ttf");
}


