
/// === === === === === HERO SECTION
.window--title {
	font-size: calc(20px + (60 - 20) * ((100vw - 300px) / (1900 - 700))) !important;
}

.window--two--info {
	font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1900 - 700))) !important;
}

.window--three--btn {
	font-size: calc(15px + (22 - 15) * ((100vw - 300px) / (1900 - 700))) !important;
}


/// === = = = ============================ CARDS
.card--title {
	font-size: calc(15px + (22 - 15) * ((100vw - 300px) / (1900 - 700))) !important;
}

.card--info {
	font-size: calc(12px + (14 - 9) * ((100vw - 300px) / (1900 - 700))) !important;
}



/// THIRD SECTION FONT-SIZES 

.courses--introduction--title {
	font-size: calc(20px + (50 - 20) * ((100vw - 300px) / (1900 - 700))) !important;
}

.courses--introduction--info {
	font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1900 - 700))) !important;
}

