.btn {
    text-decoration: none;
    border-radius: 8px;
    width: 34rem;
    padding: 1.8rem;
    display: block;
    text-align: center;
    position: relative;
    // font-size: $paragraph-big;
    border-image: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: $white;
    outline:  none ;

}

.btn_blue {
    background-image: $primary-gradient;
    border: 1px solid $primary-light;

    &:hover {
        box-shadow: $box-shadow-for-btn $primary-dark;
        color: $white;
    }

}

.btn_blue_hover {
    &:hover {

        mix-blend-mode: normal;
        opacity: 0.75;
        // filter: blur(70px);
        // background-color: $white;
        border: 1px solid $primary-dark;
        color: $primary-dark;
        background-image: none;
        box-shadow: $box-shadow-for-btn $primary-dark;
    }
}


.btn_white {
    border: none !important;
    mix-blend-mode: normal;
    opacity: 100%;
    // filter: blur(70px);
    background-color: $white;
    border: 1px solid $primary-dark;
    color: $primary-light;
    background-image: none;

    // &:hover {
    //     // background-color: $black;
    //     // opacity: 100%;
    //     // color: $white;
    //     // // border: 1px solid $white;
    //     box-shadow: $box-shadow-for-btn $white;
    // }

}



.btn_white_hover {
    border: none !important;

    &:hover {
        background-image: $primary-gradient;
        opacity: 100%;
        color: $white;
        border: 1px solid $white;
        box-shadow: $box-shadow-for-btn $primary-dark;
    }
}





.btn_yellow {
    background-color: $yellow;

    &:hover {


        background: #FFC71D;
        mix-blend-mode: normal;
        // opacity: 0.52;
        // filter: blur(70px);
        box-shadow: $box-shadow-for-btn $yellow;
    }

}

.btn_green {
    background-color: $green;

    &:hover {


        background: $green;
        mix-blend-mode: normal;
        // opacity: 0.52;
        // filter: blur(70px);
        box-shadow: $box-shadow-for-btn $green;
    }
}

.btn_red {
    background-color: $red;

    &:hover {


        background: $red;
        mix-blend-mode: normal;
        // opacity: 0.52;
        // filter: blur(70px);
        box-shadow: $box-shadow-for-btn $red;
    }
}


.btn_green {
    background: $green;
    color: $white !important;
}




/// ========================== DELETE-UPDATE-SEND BTNS