.btn {
    text-decoration: none;
    border-radius: 3px;
    width: 35rem;
    padding: 1.6rem;
    display: block;
    text-align: center;
    position: relative;
    // font-size: $paragraph-big;
    border-image: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: $white;
    outline:  none ;

}

