.btn {
    text-decoration: none;
    border-radius: 8px;
    width: 30rem;
    padding: 1.5rem;
    display: block;
    text-align: center;
    position: relative;
    // font-size: $paragraph-big;
    border-image: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: $white;
    outline: none;
    font-family: $paragraph-regular;

}

.btn-blue {
    background: $button-blue-gradient;
    border: 1px solid $primary-blue;
    transition: all .4s;

    &:hover {
        background: $white;
        color: $primary-blue;
        
        // border: 1px solid $primary-blue;
    }
}
.btn-yellow {
    background: $primary-yellow;
    border: 1px solid $primary-yellow;
    transition: all .5s;
    &:hover {
        background:$white;
        color: $primary-yellow;
        // border: 1px solid $primary-blue;
    }
}

.btn-green {
    background: $button-green-gradient;
    border: 1px solid $primary-green;
    transition: all .5s;
    &:hover {
        background: $white;
        color: $primary-green;
        // border: 1px solid $primary-blue;
    }
}




.label {
    // width: 30rem;
    background: $primary-green;
    border: 1px solid $primary-green;
    padding: .6rem 1.5rem .6rem 1.5rem;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
}