/// category
.category_svg:hover .for_whole_figure {
    fill: $yellow !important;
    stroke: $white !important;
    transition: .2s ease;
}

.category_svg:hover .for_inside_figure {
    fill: $white !important;
    stroke: $white !important;
    transition: .2s ease;
}

.category_svg:hover .for_statistics {
    // fill: $white !important;
    stroke: $white !important;
    transition: .2s ease;
}


$category-padding:0vw 6vw;


.sectionOne {
    margin-top: 4rem;

    .categories {
        .choose_categories {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $black !important;
        }

        .items_container {
            display: grid;
            // grid-template-areas: "upper upper upper upper""down down down down";
            padding: $category-padding;
            // grid-gap: 10px;
            margin-top: 4rem;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

            .items {
                .item {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: 100%;

                    &__description {
                        text-decoration: none !important;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        // justify-content: center;
                        width: 100%;
                        height: 100%;

                    
                        svg {
                            width: 70%;
                            cursor: pointer;
                        }

                        .text {
                            color: $black !important;
                            margin-top: .8vw;

                            p {
                                text-align: center;
                            }
                        }

                    }




                }
            }
        }


    }

}




@media only screen and (max-width: 1440px) {
    .sectionOne .categories .items_container {

        grid-gap: 15px !important;

    }

}



@media only screen and (max-width: 468px) {



    .sectionOne .categories .items_container .items .item a svg {
        width: 50%;
    }

    .sectionOne .categories .items_container .items .item__description .text {
        color: #070707 !important;
        margin-top: 5vw;
    }

    .sectionOne .categories .choose_categories {
       
        text-align: center;
    }


}

@media only screen and (max-width: 368px) {

    .sectionOne .categories .items_container .items .item__description {

        margin-top: 3.5rem;
    }


    .items_container>div:first-child>div:first-child>div:first-child {
        margin-top: initial !important;
    }


    // .sectionOne .categories .items_container .items .item__description {
    //     margin-top: initial !important;
    // }

}