

.category {
    display: flex;
    flex-direction: column;

    .purple-color {
        background-color: var(--primary-dark-blue);
    }

    .black-font-color {
        p {
            color: var(--primary-dark);
        }
    }

    .category_container {

        .category_main {
            @include flex;
            border-radius: 8px;
            padding: 14px;

            &:first-child {
                margin-top: 5.4rem;
            }

            &--name {
                color: var(--white);
                cursor: pointer;
            }

            &--number {
                background-color: var(--primary-dark);
                padding: 0.5rem;
                color: var(--white);
                border-radius: 4px;
                padding: 0 0.5rem;
                cursor: pointer;

            }
        }


        .category_sub {
            margin-top: 2rem !important;
            .category_main--name {
                color: var(--primary-dark);

                p {
                    overflow-wrap: break-word;
                }

            }
        }
    }

}
