.export_audit {
    padding: 0vw 15vw;
    // width: 100%;
    // max-width: 70%;
    margin-top: -4rem;
    margin-bottom: 19rem;



    &__text {
        text-align: justify;
        line-height: 35px;
        color: $black;
    }



    &__info {
        &__address {
            margin-top: 2rem;

            div {
                display: flex;
                flex-direction: row;

                img {
                    cursor: pointer;
                }

                &:nth-child(2) {
                    margin: 1rem 0rem;
                }


                p {
                    margin-left: 2rem;

                }
            }



        }
    }
}

.audit__img {
    height: 50rem;
    width: 100%;
    background: no-repeat url("/pictures/Audit.jpg");
    background-size: cover;
    background-position: center;
}



.export_audit {
    margin-top: 3rem;
}


@media only screen and (max-width: 1024px) {
    .export_audit {
        padding: 0vw 6vw;

    }
}

@media only screen and (max-width: 468px) {
    .export_audit {
        margin-bottom: 15rem;

    }

    .export_audit__text {
        text-align: left;
        line-height: 33px;

        margin-top: 8rem;
    }

    .export_audit {
        margin-top: initial !important;
    }

    .audit__img {
        height: 30rem;

    }

    .export_audit__text {

        margin-top: 5rem;
    }

}