.cut_title {
    color: $black;
    transform: translateY(-100%);
    padding: $heading_padding;
    background: white;
    display: inline-block;
    // border-radius: 21px 0 0 0;
    position: relative;
    z-index: 1;

    &:after {
        content: "";
        position: absolute;
        width: 21%;
        height: 110%;
        top: -1.5%;
        background: no-repeat url("/pictures/text_detali.png");
        background-size: cover;
        background-position: top;

        left: 99%;
        z-index: 1;
    }
}