$logo_container_width: 40%;
$menu_container-width: 33%;
$category-menu-width: 9%;

.header {
    position: fixed;
    background-color: white;
    width: 100%;
    // height: 3.7vw;
    padding: var(--nav-bar-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    top: 0 !important;
    box-shadow: var(--box-shadow-for-navigation);
    

    .mobile_hamburger {
        display: none;
    }

    .logo_container {
        display: flex;
        align-items: center;
        

        .logo {
            display: inline-block;
            @include background-properties("/pictures/logo.svg",contain,center);
            width: 10rem;
            height: 5rem;
            cursor: pointer;
        }

        .input {
            width: 29vw;
            margin: 0vw 1vw;
        }
    }

    &__category-menu {
        width: $category-menu-width;
        position: absolute;
        cursor: pointer;
        left: 50%;
        transform: translateX(-50%);

        &--heading {
            display: flex;
            align-items: center;

            .chevrondown {
                margin: 0.5rem 0 0 0.5rem;
            }
        }
    }

    .list__main-category {
        position: absolute;
        z-index: 3;
    }

    .list__sub-category {
        position: absolute;
        z-index: 2;
    }

    .list__sub-sub-category {
        position: absolute;

        z-index: 1;
    }

    .list {
        position: absolute;
        width: 100rem;
        max-width: 110rem;
        top: 100%;
        display: flex;
        padding: 2rem;
        transform: translateX(-50%);
        left: 50%;

        &__main-category,
        &__sub-category,
        &__sub-sub-category {
            width: 33%;
            height: 67rem;
            max-height: 70rem;
            box-shadow: 0px 23px 94px rgba(0, 0, 0, 0.13);
            list-style-type: none;
            background-color: var(--primary-white);
            padding: 1.8rem;
            border-radius: 10px;

            &--item {
                width: 100%;
                @include flex(space-between,center,row);
                cursor: pointer;

                &:not(:first-child) {
                    margin-top: 2rem;
                }

                .item-container {
                    @include flex(space-between,center,row);
                    width: 100%;

                    &__cube-text {
                        display: flex;
                        align-items: center;

                        .cube {
                            @include background-properties("/pictures/cube.svg",cover,center);
                            background-color: var(--secondary-light-grey);
                            width: 2rem;
                            height: 2rem;
                        }

                        .text {
                            margin-left: 1rem;

                            a {
                                text-decoration: none;
                                color: var(--primary-dark);
                            }
                        }
                    }

                    &__chevron {
                        display: flex;
                        // align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }

    .navigation_menu {
       
        &--container {
            @include flex(space-between,center,row);
            width: 30vw;

            &:not(:first-child) {
                margin-left: 2rem;
            }
            .login {
                background-color: var(--secondary-dark-dark-blue);
                padding: 0.9rem 1.3rem 0.9rem 1.3rem;
                cursor: pointer;
                border-radius: 3px;

                a {
                    font-size: $f-size-p3;
                    text-decoration: none;

                    p {
                        color: var(--primary-white);
                    }
                }
            }

            .cart {
                transform: rotateY(-180deg);
                

                a {
                    text-decoration: none;
                    color: var(--primary-dark);

                    .svg {
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }

            .unregistered_user {
                @include background-properties("/pictures/unregistered_user.svg",cover,center);
                width: 4rem;
                height: 4rem;
                cursor: pointer;
            }

            .menu {
                &--list {
                    width: 100%;


                    &__items {
                        list-style: none;
                        display: inline-block;

                        &:not(:last-child) {
                            margin-right: 2vw;
                        }

                        &--links {
                            color: #262d35;
                            text-decoration: none;
                            font-size: 1.44rem;
                            font-weight: 500;
                            // color: $low-black-for-text;
                            cursor: pointer;

                            &:hover {
                                color: #262d35b7;
                            }
                        }
                    }
                }
            }
        }
    }
}