.red {
    color: red;
}

.green {
    color: green;
}


.newsSection {
    margin-top: -10rem;

    .news {
        overflow: hidden;
        background: $new-dark;
        // height: 150vh;
        margin-top: 20rem;
        position: relative;


        &__heading {

            padding: 2vw 0vw 0vw 9vw;

            a {
                color: $white;
            }
        }



        .social_network {
            position: absolute;
            // transform: translate(-50%, -50%);
            left: 1%;
            top: 10%;
            // width: -3rem;
            height: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            z-index: 5;

        }


        &__container {
            padding: 0vw 0vw 3vw 9vw;
            display: grid;
            grid-template-columns: repeat(4, 21%);
            gap: 65px;
            margin-top: 4vw;
            z-index: 2;
            position: relative;


            text-decoration: none;

            .stories:hover .stories__pics {



                transform: $img-hovers;
                box-shadow: $box-shadow-for-new-img-hover;
            }


            a {

                height: 100%;

            }

            .stories {
                &__heading {

                    margin: 1vw 0vw 1vw 0vw;
                    color: $black;


                }

                &__parapraph {

                    opacity: 60%;
                    color: $black;
                }


                &__pics {
                    width: 100%;
                    position: relative;
                    border-radius: 21px;
                    height: 20rem;
                    transition: $transition;

                    &__background {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        box-shadow: $box-shadow-for-new-img;
                        border-radius: 21px;
                        cursor: pointer;

                        background: {
                            size: cover;
                            position: center;
                            repeat: no-repeat;
                        }





                    }

                }


            }

        }


    }

}

.white_element {
    &:after {
        content: "";

        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: -11;
        // padding: 0vw 0vw 0vw 6vw;
        left: 6%;
        border-radius: 30px 0px 0px 0px;
        // transform: translate(-50%, -50%);
        top: 40%;
        overflow: hidden;
        z-index: 1;
    }
}





@media only screen and (max-width: 1440px) {

    /// ! NEWS SECTION
    .news {
        margin-top: 10rem !important;

    }



    .white_element:after {


        top: 30%;
    }


    .news {


        &__container {

            grid-template-columns: repeat(4, 19.5%) !important;

        }

    }

    .newsSection {
        margin: initial !important;
    }

}

@media only screen and (max-width: 1280px) {

    // ! News SECTION

    .news {

        .news_windows {
            &:after {
                width: 100% !important;

                left: 50% !important;
                top: 50% !important;
            }
        }



    }

    .news {


        &__container {
            padding: initial !important;
            grid-template-columns: repeat(2, 40%) !important;
            margin-top: 7vw !important;
            gap: 60px !important;
            justify-content: center !important;

            .stories {
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: center;
            }

            .stories__pics__pic {

                height: 25rem !important;
            }

        }
    }

    section .news__container .stories {
        width: initial !important;
    }

    .white_element:after {


        top: 30%;
    }
}



@media only screen and (max-width: 1024px) {

    // ! NEWS SECTION
    .social_network {
        display: none !important;
    }

    .white_element {

        &:after {
            height: 100% !important;
            left: 0% !important;
            border-radius: 30px 30px 0px 0px !important;
            top: 25% !important;
        }
    }



    .news {
        &__heading {
            padding: 5vw 0vw 0vw 0vw !important;
            text-align: center;
        }
    }

    .news__container {

        margin-top: 5vw !important;
    }
}


@media only screen and (max-width: 834px) {

    // ! NEWS-SECTION
    .news {
        &__container {

            margin-top: 0vw !important;


            &:after {
                height: 100% !important;
                left: 50% !important;
                border-radius: 30px 30px 0px 0px !important;
                top: 56% !important;
            }
        }

        &__heading {
            padding: 5vw 0vw 5vw 0vw !important;

        }



        .stories {


            &__heading {

                margin: 2.5vw 0vw 1.5vw 0vw !important;
            }

            &__parapraph {

                opacity: 60%;
            }



        }


    }

    .white_element {

        &:after {
            height: 104% !important;
            left: 0% !important;
            border-radius: 30px 30px 0px 0px !important;
            top: 20% !important;
        }
    }

    .news_windows {
        &:after {
            width: 108% !important;

            left: 50% !important;
            top: 50% !important;
        }
    }
}



@media only screen and (max-width: 468px) {
    // ! NEWS-SECUION

    .news {
        &__container {
            padding: 0vw 9vw 9vw 9vw !important;
            grid-template-columns: initial !important;
            grid-template-rows: 1fr 1fr !important;
        }

        &__heading {
            padding: 6vw 0vw 6vw 0vw !important;

        }

    }

    .white_element:after {

        top: 11% !important;
    }


    // ! input-fields 
    .select_btns {

        width: 100% !important;
    }


    .stories__pics {
        display: flex;
        align-items: center;
        justify-content: center;

        &__pic {
            width: 100% !important;
        }
    }

    .news .stories__heading {
        margin: 5.5vw 0vw 3.5vw 0vw !important;


    }
}