.pdf_section {
    margin-top: 8rem;

    .pdf {
        position: relative;
        padding: $padding;

        .download {
            color: $black;
        }
    }


    .pdf_files {
        display: grid;
        grid-template-columns: 1fr 0.1fr auto;
        // padding: $padding;
        gap: 30px;
        position: relative;

        margin-top: 10rem;

        .pdf_links {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // padding: $padding;
            gap: 30px 30px;

            a {
                position: relative;
                display: block;

                text-decoration: none;
                color: $black;



                 
                &:after {
                    content: "";
                    position: absolute;
                    // @include transform-center;
                    background: no-repeat url("/pictures/pdf-logo.png");
                    background-size: cover;
                    background-position: center;
                    width: 7.5rem;
                    height: 7.5rem;
                    top: 0%;
                    right: 0%;
                }

                .file {
                    height: 11.5rem;
                    width: 100%;
                    // height: 100%;
                    box-shadow: $box-shadow-for-pdf;
                    position: relative;
                    transition: $transition;

                    &:hover {

                        transform: $img-hovers;
                        // padding-bottom: .5rem;
                        box-shadow: $box-shadow-for-pdf-hover;
                    }


                    .paragraph {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        
                        height: 100%;

                        p {
                            width: 80%;
                            margin-left: 2rem;
                        }

                    }


                }

               
            }



        }

        .pdf_line {

            // position: absolute;
            // content: "";
            background: no-repeat url("/pictures/pdf_line.png");
            background-size: cover;
            background-position: center;
            width: 2%;
            height: 100%;
            // top: 0%;
            // left: 71%;
            margin: 0 auto;
        }

        .line {

            width: 100%;
            height: 100%;


        }

        .pdf_btns {
            // margin: 0 auto;
            justify-self: end;
            align-self: center;


            a {
                background-color: $new-primary-2;
                color: $white;

                &:nth-child(2) {
                    margin: 2vw 0vw 2vw 0vw;
                }

                &:hover {
                    box-shadow: $box-shadow-for-btn $primary-dark;
                }

            }
        }

    }


}








@media only screen and (max-width: 1440px) {

    .pdf_section .pdf_files {

        gap:initial ;
    }

    .btn {

        width: 32rem;
    }
    .pdf_section .pdf_files .pdf_line {
      
        width: 4%;
        }

    .pdf_links {
        gap: 30px 30px !important;

        a {
            .file {


                &:after {

                    top: 31% !important;
                    // left: 92.3% !important;
                    width: 6rem !important;
                    height: 6rem !important;
                }
            }
        }

    }


}


@media only screen and (max-width: 1280px) {


  
    .pdf_links a .file:after {

        // left: 96.1% !important;
        top: 31% !important;

    }

    .pdf_section .pdf_files .pdf_links {

        grid-template-columns: initial !important;

        grid-template-rows: repeat(4, 1fr);
    }

    .pdf_section .pdf_files .pdf_line {

        display: none !important;
    }

    .pdf_section .pdf_files {

        grid-template-columns: 1fr 0.4fr !important;
        gap: 70px;
    }


}


@media only screen and (max-width: 1024px) {

    // ! PDF-SECTION
    .pdf_section {
        .pdf_files {
            grid-template-columns: initial !important;
            // padding: 0 3vw !important;
            grid-template-rows: 1fr 0.4fr !important;
            margin-top: 5rem !important;

            .line {
                display: none !important;
            }

            .pdf_btns {
                justify-self: center;
                width: 100% !important;
                height: 100% !important;
                margin-top: 5vw;

                a {
                    width: 100% !important;
                }
            }

            .pdf_links {
                // height: 40rem !important;
                grid-template-columns: initial !important;
                grid-template-rows: 1fr 1fr 1fr 1fr;

                a {
                    .file {
                        width: 100% !important;

                        &:after {
                            top: 31% !important;
                            // left: 96.7% !important;

                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 834px) {

    // ! PDF-SECTION
    .pdf_section {
        .pdf_files {



            .pdf_links {
                a {
                    .file {


                        &:after {

                            top: 32% !important;
                            // left: 95.9% !important;

                        }
                    }
                }
            }
        }
    }
}




@media only screen and (max-width: 468px) {

    // ! PDF-SECTION
    .pdf_section {
        .pdf_files {
            padding: initial !important;


            .pdf_links {
                a {
                    .file {
                        width: 90vw !important;

                        &:after {
                            top: 26% !important;
                            // left: 92.7% !important;
                        }
                    }
                }
            }
        }
    }


}


// @media only screen and (max-width: 375px) {
//     .pdf_section .pdf_files .pdf_links a .file:after {
//         // left: 89.5% !important;
//     }


// }