.margin {
    margin-top: 2rem;
}

$questions-box-shadow:60px 64px 54px rgba(0, 0, 0, 0.09),
0px 0px 14px rgba(0, 0, 0, 0);

.question {

    position: relative;


    &__img {
        height: 50rem;
        width: 100%;
        background: no-repeat url("/pictures/questions.png");
        background-size: cover;
        background-position: initial;
        background-color: $new-blue-for-links;
    }

    &__title {
        // .cut_title {
        //     color: $black;
        //     transform: translateY(-100%);
        //     padding: $heading_padding;
        //     background: white;
        //     display: inline-block;
        //     border-radius: 21px 0 0 0;
        //     position: relative;


        //     &:after {
        //         content: "";
        //         position: absolute;
        //         width: 15%;
        //         height: 110%;
        //         top:-2.5%;
        //         background: no-repeat url("/pictures/text_detali.png");
        //         background-size: cover;
        //         background-position: top;

        //         left: 100%;
        //         z-index: 1;
        //     }
        // }
    }


    .question_container {
        padding: 0vw 11vw;
        margin-top: 4rem;
        margin-bottom: 25rem;


        &__side_menu {
            border-radius: 23px;
            box-shadow: $questions-box-shadow;


            a {
                text-decoration: none;
                color: $primary-light;
                white-space: pre-line;
            }





            .ant-collapse>.ant-collapse-item>.ant-collapse-header {

                padding: 20px 60px;

            }

            .ant-collapse-content>.ant-collapse-content-box {
                padding: 40px 0px 40px 20px;
            }




            .ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
                padding-top: 30px;
                padding-right: 25px;


                p {
                    color: $black;
                }
            }


            .ant-collapse-content {
                overflow: visible;
                color: rgba(0, 0, 0, 0.65);
                background-color: #fff;
                border-top: 1px solid #d9d9d9;
                word-wrap: break-word;
            }




        }
    }

}


@media only screen and (max-width: 1280px) {
    section .single_product__title .cut_title {

        transform: translateY(-95%);

    }
}

@media only screen and (max-width: 1024px) {
    .question .question_container {
        padding: 0vw 6vw;
    }
}


// @media only screen and (max-width: 834px) {}

@media only screen and (max-width: 468px) {}