$box-shadow-for-single-retail: 100px -64px 40px rgba(0, 0, 0, 0.05),
0px 64px 14px rgba(0, 0, 0, 0);



//CARET icon
.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {

    font-size: 25px;

}

.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow svg {

    width: 2.5rem;
    height: 2.5rem;
}

/// WHEN ACTIVE
.ant-collapse-item-active .ant-collapse-header {
    background: linear-gradient(270deg, #ffb81e -26.59%, rgba(255, 255, 255, 0) 72.35%) !important;
    // border-radius: 0px 29px 0px 0px !important;
}


div.ant-collapse-item:nth-child(1)>div:nth-child(1) {
    border-radius: 0px 29px 0px 0px;
}


.ant-collapse {

    border-radius: 29px !important;
}

.singleRetail .sideMenu .ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {

    display: grid;
}