// ON HOVER ON WHOLE TEST 
.test:hover .readyness_img {

    img {
        width: 25vw;
        height: 25vw;
        cursor: pointer;
        transition: $transition;

        transform: translateY(-3%);
        filter: $filter-shadow-on-test-img;
    }
}


.test_section {
    margin-top: 20rem;
    // background-color: gray;

    .test {
        position: relative;

        .test_pic {
            background: no-repeat url("/pictures/readyness-test.png");
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-evenly;
            border-radius: 20px;
        }

        padding: $padding;
        height: 35vh;



        .our_test {
            width: 45%;
            margin-left: 3vw;
            color: $white;
        }

        .small_text {
            margin-left: 3vw;
            width: 30%;
            margin: -2vw 0vw 0vw 3vw;

            p {
                color: $white;
            }
        }

        .test_btn {

            margin-left: 3vw;

            a {
                text-decoration: none;
                cursor: pointer;
                color: $black;

            }
        }

        .readyness_img {
            position: absolute;
            @include transform-center;
            left: 75%;
            top: 20%;



            img {
                width: 25vw;
                height: 25vw;
                cursor: pointer;
                transition: $transition;


            }
        }
    }
}



@media only screen and (max-width: 1440px) {

    // ! TEST SECTION
    .test {
        height: 30rem !important;
    }


}


@media only screen and (max-width: 1280px) {
    // section .test_questions__container .questions .question {
    //     width: 95% !important;
    // }

}

@media only screen and (max-width: 1024px) {

    // ! TEST SECTION
    .test {


        .small_text {
            margin-left: 3vw !important;
            width: 40% !important;

        }

        .readyness_img {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 77% !important;
            top: 50% !important;
            /*! width: 100%; */

            img {
                width: 35vw !important;
                height: 35vw !important;
            }
        }


    }

}


@media only screen and (max-width: 834px) {

    /// ! TEST-SECTION
    .readyness_img {
        display: none !important;
    }

    .test {
        text-align: center !important;

        .small_text {

            width: 85% !important;

        }

        .test_pic {
            align-items: center !important;
        }

        .our_test,
        .small_text,
        .test_btn {
            margin: initial !important;
        }

        .our_test {
            width: 75% !important;
        }


    }


}




@media only screen and (max-width: 468px) {

    // ! TEST-SECTION
    .test_section {
        .test {
            .test_pic {
                align-items: center !important;

                .our_test {
                    width: 90% !important;
                }

                .test_btn {
                    a {
                        width: 30rem !important;
                        padding: 1.3rem;
                    }
                }
            }


        }
    }

    .pdf_section .pdf_files .pdf_links a:after {
   
        width: 4.5rem;
        height: 4.5rem;
    }
}


@media only screen and (max-width: 375px) {

    .test {
        height: 45vh !important;
    }

    .test_section .test .test_pic .test_btn a {
        width: 25rem !important;
    }
}