.ql-container {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	background: #fefcfc;

	p {
		font-size: calc(
			14px + (16 - 14) * ((100vw - 300px) / (1900 - 700))
		) !important;
		color: black;
	}

	h1 {
		background-color: $new-primary-2;
		color: white;
		font-weight: bold;
		font-family: $heading-bold;
		padding: 2rem !important;
	}
}

/* Snow Theme */
// .ql-toolbar {
// 	display: block;
// 	border-top-left-radius: 10px;
// 	border-top-right-radius: 10px;
// 	background: white !important;
// 	box-shadow: 0px 20px 60px -10px #2121422a !important;

// 	// svg {
// 	// 	path {
// 	// 		fill: $new-primary !important;
// 	// 	}
// 	// }
// }

.ql-toolbar.ql-snow {
	display: block !important;
	border-radius: 8px !important;
	border: none !important;
	background: white !important;
	box-shadow: 0px 20px 60px -10px #2121422a !important;
	position: relative;
	z-index: 2;
}

.ql-container.ql-snow {
	border: none !important;
}

.ql-tooltip {
	z-index: 100 !important;
}

/* Bubble Theme */
.ql-bubble .ql-editor {
	// border: 1px solid #ccc;
	border-radius: 0.5em;
}

.ql-editor {
	// min-height: 18em;
	height: 50vh !important;
}

.themeSwitcher {
	margin-top: 0.5em;
	font-size: small;
}
