.allCourses {
  width: 100%;
  height: auto;
  padding-bottom: 5rem;

  .allCourses-hero-img {
    @include background-properties("/pictures/allCourses/course_hero_pic.png");
    width: 100%;
    height: 50vh;
    position: relative;
    border-radius: 0px 0px 39px 39px;
  }

  .allCourses-container {
    margin-top: 27rem;
    width: 100%;
    padding: var(--main-pading);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    flex-wrap: wrap;
    gap: 80px 50px;

    @media screen and (max-width: $medium-screen) {
      margin-top: 45rem;
    }

    @media screen and (max-width: $small-screen) {
      padding-bottom: var(--padding-bottom-for-containers);
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      margin-top: 50rem;
    }

    .PrimaryContentCard {
      max-width: initial;

      a {
          z-index: -1;
      }
    }
  }
}
