.allCoursesSearch {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);


    .search {
      padding: 1rem 1rem 1rem 3rem;
      background: #ffffff;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.01),
        0px 36px 35px -19px rgba(0, 0, 0, 0.07);
      border-radius: 22px;
      @include flex(space-between);

      

      .course-search-btn {
        background: #f5f5f5;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.01),
          0px 36px 35px -19px rgba(0, 0, 0, 0.07),
          inset 0px -7px 15px -10px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
        padding: 5rem 6rem;
        cursor: pointer;
        outline: none;
        border: none;
        margin-left: 1rem;
      }
    }
  
}
