$carousel-card-shadow:0px 23px 42px -6px rgba(17, 23, 53, 0.1);
$right_slider_btn-gradient:linear-gradient(271.08deg, #FFFFFF 62.68%, rgba(255, 255, 255, 0) 99.18%);

.carousel {
    position: relative;
    // margin-bottom: 10rem;

    .right-carousel-gradient {
        background: $right_slider_btn-gradient;
        width: 24.5rem;
        height: 10.5rem;
        position: absolute;
        right: 0%;
        top: 0%;
        z-index: 1;

    }
    .right_slider_btn {
        background-image: url("/pictures/slider/rigth_slide_button.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        width: 12.5rem;
        height: 12.5rem;
        left: 40%;
        top: 5%;
        position: absolute;
        z-index: 2;
    }
    .left-carousel-gradient {
        background: $right_slider_btn-gradient;
        width: 24.5rem;
        height: 10.5rem;
        position: absolute;
        left: -3%;
        top: 0%;
        z-index: 1;
        transform: rotateY(-180deg);

    }

    .left_slider_btn {
        background: url("/pictures/slider/left_slide_button.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 12.5rem;
        height: 12.5rem;
        left: 40%;
        top: 5%;
        position: absolute;
        z-index: 2;
        transform: rotateY(180deg);
        cursor: pointer;
    }


    .carousel_container {
        padding: 0rem 0rem 17.5rem 0rem;
        display: flex;
        flex-direction: row;
        position: relative;
        overflow-x: scroll;
        -ms-overflow-style: none;  
        scrollbar-width: none; 
        overflow: -moz-scrollbars-none;
    }
    .carousel_container::-webkit-scrollbar{
        width: 0 !important 
    }



    .carousel_card {
        display: flex;
        flex-direction: row;
        box-shadow: $carousel-card-shadow;
        padding: 2.5rem;
        border-radius: 18px;
        cursor: pointer;

        &:not(:first-child) {
            margin-left: 4rem;
        }


        &--pic {
            background: url("/pictures/courses/carousel_pic.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 10rem;
            height: 9rem;
            border-radius: 18px;
        }


        &--heading {
            text-align: center;
            align-self: center;
            // margin: 0 2rem;
            color: var(--primary-dark);
            width: 20rem;
        }
    }
}

@media screen and (max-width: 340px) {
    .right_slider_btn, .left_slider_btn {
        display: none !important;
    }

    .main_content--carousel .carousel_card {
        
        margin: 0rem 0 8rem 0rem !important;
       
    }
}