//! აქ არის მხოლოდ მთავარი გვერდი მთავარი სტილები მაგ:გრიდები ფლექსები
//! და ა.შ და დანარჩენ დიდ კომპონენეტებს ყველს თავისი ფაილი აქვს

//! კარუსელს თავისი ცსს ფაილი აქვს
.main_content {
  width: 100%;
  margin-top: 3rem;
  padding: var(--main-pading);
  display: flex;
  flex-direction: column;

  &--container {
    display: grid;
    grid-template-columns: 18% 79%;
    gap: 0px 50px;
    //! აქ ეს overflow უნდა რადგან როცა ჰოვერის კარდს აჭერ
    //! იგი მარჯვნიდან შემოსვლის 1 წამში  კონტენტი გარეთ გაყავს
    //! სკროლბარი ჩნდება ქვემოთ. და მით უმეთეს ტელეფონზე ეს
    //! საჭიროა
    overflow: hidden;
  }

  &--input {
    @include flex;

    .input_styles {
      width: 100% !important;
      letter-spacing: 1px;
      font-weight: normal;
    }

    
  }
}
