.courses_content {
  margin: 5rem auto;
  width: 100%;


  //! ეს არის რესურსების ცსს

  .resources {
    &_links {
      margin: 1vw 0vw 3vw 0vw;
    }

    &_files {
      a {
        text-decoration: none;
        color: var(--primary-white);
        width: 48%;
        padding: 3rem;

        .files {
          position: relative;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;

          .icon {
            margin-right: 3rem;
          }
        }
      }
    }
  }


  //! ეს არის შეფასებების ცსს
}
