/// Fonts
@font-face {
	// font-family: 'LexendDeca';
	font-family: "mtavruli bold";
	// src: url(../fonts/LexendDeca-Regular.ttf);
	src: url(../../fonts/bpg_nino_mtavruli_bold.ttf);

}

@font-face {
	// font-family: 'Gilroy';
	font-family: 'primary-text';
	// src: url(../fonts/Gilroy-Bold.ttf);
	src:url(../fonts/bpg_arial_2009.ttf);

}