.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0 !important;
  padding: var(--nav-bar-padding);
  @include flex(space-between, center, row);
  background-color: white;

  .header-container {
    box-shadow: var(--box-shadow-for-navigation);
    @include flex(space-between, center, initial);
    width: 100%;
  }


  .logo-search {
    @include flex(initial, center);
    max-width: 60rem;
    width: 100%;

    :not(:last-child) {
      margin-right: 3.5rem;
    }
  }

  .login-profile {
    @include flex(flex-end, center);
    max-width: 60rem;
    width: 100%;


    .course-page,.become-lectore,.profile{
        margin-right: 4.5rem;
    }

  }
  


  .mobile_hamburger {
    display: none;
  }



  .logo_container {
    .logo {
      display: inline-block;
      @include background-properties("/pictures/logo.svg", contain, center);
      width: 10rem;
      height: 5rem;
      cursor: pointer;
    }
  }


  .search {
    width: 100%;
    max-width: 65rem;
  }

  .course-page,
  .become-lectore {
    .link {
      color: #262d35;
      text-decoration: none;
      font-size: 1.44rem;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: #262d35b7;
      }
    }
  }

  .cart {
    // transform: rotateY(-180deg);
    a {
      text-decoration: none;
      color: var(--primary-dark);
      @include flex();

      .svg {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .profile {
      position: relative;
    .user-icon {
       border-radius: 50px;
      @include background-properties("/pictures/unregistered_user.svg",
        cover,
        center);
      width: 4rem;
      height: 4rem;
      cursor: pointer;
    }

    
  
  }
}