.btn {
    text-decoration: none;
    border-radius: 8px;
    width: 30rem;
    padding: 1.5rem;
    display: block;
    text-align: center;
    position: relative;
    // font-size: $paragraph-big;
    border-image: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: var(--white);
    outline: none !important;
    // font-family: $paragraph-regular;


}

.btn-blue {
    background: var(button-blue-gradient);
    border: 1px solid var(--primary-blue);
    transition: all .4s;

    // &:hover {
    //     background: var(--white);
    //     color: var(--primary-blue);

    //     // border: 1px solid var(--primary-blue);
    // }
}

.btn-yellow {
    background: var(--primary-yellow);
    border: 1px solid var(--primary-yellow);
    transition: all .5s;

    // &:hover {
    //     background: var(--white);
    //     color: var(--primary-yellow);
    //     // border: 1px solid var(--primary-blue);
    // }
}

.btn-green {
    background: var(--button-green-gradient);
    border: 1px solid var(--primary-green);
    transition: all .5s;

    // &:hover {
    //     background: var(--white);
    //     color: var(--primary-green);
    //     // border: 1px solid var(--primary-blue);
    // }
}


.btn-red {
    background: var(--primary-red);
    border: 1px solid var(--primary-red);
    transition: all .4s;

    // &:hover {
    //     background: var(--white);
    //     color: var(--primary-blue);

    //     // border: 1px solid var(--primary-blue);
    // }
}

.btn-white {
    background: var(--white);
    border: 1px solid var(--primary-blue);
    transition: all .4s;

    // &:hover {
    //     background: var(--white);
    //     color: var(--primary-blue);

    //     // border: 1px solid var(--primary-blue);
    // }
}


.btn-black {
    background: var(--white);
    border: 1px solid var(--primary-dark);
    transition: all .4s;


}








.btn-for-video-files {
    background: var(--button-green-gradiend-forFile);
    border-radius: 8px;
    box-shadow: var(--box-shadow-for-video-files);

    padding: 2.3rem;
    text-decoration: none;
    color: var(--white);
    position: relative;


}

.label {
    // width: 30rem;
    background: var(--primary-green);
    border: 1px solid var(--primary-green);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
}


// .icon {
//     background: no-repeat url("/pictures/courses/folder.svg");
//     background-size: cover;
//     background-position: center;
//     width: 4.5rem;
//     height: 3.5rem;
// }





