.btn {
    text-decoration: none;
    border-radius: 8px;
    width: 30rem;
    padding: 2rem;
    display: block;
    text-align: center;
    position: relative;

    border-image: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: var(--white);
    outline: none !important;
}

.icon {
    position: absolute;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
}

.iconRight {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}


.btn-blue {
    background: var(button-blue-gradient);
    border: 1px solid var(--primary-blue);
    transition: all .4s;

}

.btn-yellow {
    background: var(--primary-yellow);
    border: 1px solid var(--primary-yellow);
    transition: all .5s;


}

.btn-green {
    background: var(--button-green-gradient);
    border: 1px solid var(--primary-green);
    transition: all .5s;

}


.btn-red {
    background: var(--primary-red);
    border: 1px solid var(--primary-red);
    transition: all .4s;

}

.btn-white {
    background: var(--white);
    border: 1px solid var(--primary-blue);
    transition: all .4s;


}


.btn-black {
    background: var(--white);
    border: 1px solid var(--primary-dark);
    transition: all .4s;
}


.btn-for-video-files {
    background: var(--button-green-gradiend-forFile);
    border-radius: 8px;
    box-shadow: var(--box-shadow-for-video-files);

    padding: 2.3rem;
    text-decoration: none;
    color: var(--white);
    position: relative;
}

.label {
    // width: 30rem;
    background: var(--primary-green);
    border: 1px solid var(--primary-green);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
}