.btn {
    text-decoration: none;
    border-radius: 8px;
    width: 30rem;
    padding: 1.5rem;
    display: block;
    text-align: center;
    position: relative;
    // font-size: $paragraph-big;
    border-image: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: $white;
    outline: none;
    // font-family: $paragraph-regular;
    

}

.btn-blue {
    background: $button-blue-gradient;
    border: 1px solid $primary-blue;
    transition: all .4s;

    // &:hover {
    //     background: $white;
    //     color: $primary-blue;

    //     // border: 1px solid $primary-blue;
    // }
}

.btn-yellow {
    background: $primary-yellow;
    border: 1px solid $primary-yellow;
    transition: all .5s;

    &:hover {
        background: $white;
        color: $primary-yellow;
        // border: 1px solid $primary-blue;
    }
}

.btn-green {
    background: $button-green-gradient;
    border: 1px solid $primary-green;
    transition: all .5s;

    // &:hover {
    //     background: $white;
    //     color: $primary-green;
    //     // border: 1px solid $primary-blue;
    // }
}


.btn-red {
    background: $primary-red;
    border: 1px solid $primary-blue;
    transition: all .4s;

    // &:hover {
    //     background: $white;
    //     color: $primary-blue;

    //     // border: 1px solid $primary-blue;
    // }
}

.btn-white {
    background: $white;
    border: 1px solid $primary-blue;
    transition: all .4s;

    // &:hover {
    //     background: $white;
    //     color: $primary-blue;

    //     // border: 1px solid $primary-blue;
    // }
}


.btn-black {
    background: $white;
    border: 1px solid $primary-dark;
    transition: all .4s;


}








.btn-for-video-files {
    background: $button-green-gradiend-forFile;
    border-radius: 8px;
    box-shadow: $box-shadow-for-video-files;
    // width: 20rem;
    // height: 5rem;
    padding: 2.3rem;
    text-decoration: none;
    color: $white;
    position: relative;


}

.icon {
    background: no-repeat url("/pictures/courses/folder.svg");
    background-size: cover;
    background-position: center;
    width: 4.5rem;
    height: 3.5rem;
}






.label {
    // width: 30rem;
    background: $primary-green;
    border: 1px solid $primary-green;
    padding: .6rem 1.5rem .6rem 1.5rem;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
}