$card-detail-inside_content-padding:2.4rem;
$card-detail-padding:0rem 2.4rem 2.4rem 2.4rem;
$card-detail-shadow:35px 41px 99px 27px rgba(19, 21, 26, 0.3);



.card_detail {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 28vw;
    left: 20.5vw;
    z-index: 100;
    margin-left: .5rem;
    border-radius: 25px;
    border-radius: 20px 20px 20px 20px;
    padding: $card-detail-padding;


    .inside_content {
        padding: $card-detail-inside_content-padding;

        *~div {
            margin-top: 0.3vw;
        }
    }

    &--container {

        border-radius: 20px;
        background: $white;
        box-shadow: $card-detail-shadow;


        &__img {
            background: no-repeat url("/pictures/courses/card_picture.png");
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 12rem;
            border-radius: 20px 20px 0px 0px;
        }

        &__title {
            a {
                text-decoration: none;
                cursor: pointer !important;
                color: $primary-dark;

                &:hover {
                   color:  rgba(25, 27, 31, 0.90);
                }
            }

        }



        &__date {
            @include flex;
            margin: .7vw 0vw !important;
        }

        &__list {
            ul {
                padding: 0 !important;

                li {
                    margin-top: 0.7vw;
                    display: flex;
                    position: relative;
                    // align-items: center;

                    .check {
                        position: absolute;
                        margin-top: .5vw;
                    }

                    .paragraph {
                        margin-left: 3rem;
                    }
                }
            }
        }

        &__addtobucket {
            background-color: $primary-red;
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 0px 0px 18px 18px;
            padding: 4rem 0rem;

            .heading {
                color: $white;
                margin-right: 1rem;
                letter-spacing: 2px;
            }


        }
    }
}