// $card-detail-inside_content-padding:1.5rem;
// $card-detail-padding:0.5rem 1.5rem;
$card-detail-shadow:20px 30px 90px 10px rgba(19, 21, 26, 0.2);



.card_detail {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 45rem;
    height:auto;
    z-index: 100;
    margin-left: .5rem;
    border-radius: 1px;
    top: -40px;
    padding: 0.2rem 2.5rem;
    left: 320px;
    // bottom: 0;

    .inside_content {
        padding: 2.5rem;

        & * div {
            margin-top:10px;
        }
    }

    &--container {
        background: var(--white);
        box-shadow: $card-detail-shadow;
        border-radius: 12px;
        


        &__title {
            a {
                text-decoration: none;
                cursor: pointer !important;
                color: var(--primary-dark);

                &:hover {
                    color: rgba(25, 27, 31, 0.90);
                }
            }

        }



        &__date {
            @include flex;
            margin: 0.8vw 0vw !important;
        }

        &__list {
            ul {
                padding: 0 !important;

                li {
                    margin-top: 0.7vw;
                    display: flex;
                    position: relative;
                    // align-items: center;

                    .check {
                        position: absolute;
                        margin-top: .8vw;
                    }

                    .paragraph {
                        margin-left: 3rem;
                    }
                }
            }
        }

        &__addtobucket {
            background-color: var(--primary-red);

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 0px 0px 12px 12px;
            padding: 2.5rem 2rem;
            cursor: pointer;
            .heading {
                color: var(--white);
                margin-right: 1rem;
                letter-spacing: 2px;
            }


        }
    }
}
