.comment {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;


    &__pic {
        background: no-repeat url("/pictures/courses/profile_picture.png");
        background-size: cover;
        background-position: center;
        width: 7rem;
        height: 7rem;

    }

    &__text {
        margin-left: 2.5rem;

        .about-user {
            display: flex;
            align-items: center;


            &__time {
                margin-left: 1.2vw;
                color: #636469;
            }

            &__raiting {
                margin: 0.5vw 0vw 0.2vw 0vw;


            }

        }

        .added-comment {
            // margin: 0.3vw 0vw 0vw 0vw;
            width: 100%;


            p {
                line-height: 180%;

            }
        }

        .like {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 2rem;

            div {
                cursor: pointer;
            }

            &__thumbs-down {
                margin-left: 3rem;
            }
        }



    }
}