.comment {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;


    &__pic {
        background-image: url("/pictures/courses/profile_picture.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 10rem;
        height: 9rem;
        border-radius: 50%;
        padding: 4rem;

    }

    &__text {
        margin-left: 2.5rem;

        .about-user {
            display: flex;
            align-items: center;


            &__time {
                margin-left: 1.2vw;
                color: #636469;
            }

            &__raiting {
                margin: 0.5vw 0vw 0.2vw 0vw;


            }

        }

        .added-comment {
            // margin: 0.3vw 0vw 0vw 0vw;
            width: 100%;


            p {
                line-height: 180%;

            }
        }

        .like-dislike {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 2rem;

            div {
                cursor: pointer;
            }

            &__thumbs-down,
            &__thumbs-up {
                display: flex;
                align-items: center;

                p {
                    margin-left: .3rem;
                }
            }

            &__thumbs-down {
                margin-left: 2rem;
                width: 3vw;
            }


            .instructor_like {
                position: relative;
                margin-left: 2rem;

                .instructor__photo {
                    background-image: url("/pictures/courses/profile_picture.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width:3rem;
                    height: 3rem;
                    border-radius: 50%;
                    // padding: 4rem;
                }

                .heart {
                    position: absolute;                    
                    right: -22%;
                    top: 30%;


                }
            }
        }



    }
}