.estimates {

    &__container {
        
        .add_comment {
            display: flex;
            flex-direction: row;
            width: 100%;

            &--input {
                width: 100%;
                margin-left: 2rem;
                display: flex;
                flex-direction: column;

                .about_user {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &--star {
                        margin-left: 2rem;
                    }
                }

                .comment_field {
                    margin:.8vw 0vw .8vw 0vw;
                }

                .add_btn {
                    align-self: flex-end;
                    padding: 1.2rem;
                    width: 25rem;

                    a{
                        text-decoration: none;
                        color: $white;

                    }
                }
            }
        }
    }
}
//! ეს არის შეფასებების ცსს