.input_field {
    width: 100%;
    padding: 1.5rem;
    background: #FFFFFF;
    border: 0.9px solid $secondary-dark-grey;
    box-sizing: border-box;
    box-shadow: 0px 1.9px 0px $secondary-dark-grey;
    border-radius: 8px;
    outline: none !important;

    &:focus {
        border: 0.9px solid $secondary-light-grey;
        box-sizing: border-box;
        box-shadow: 0px 1.9px 0px $secondary-light-grey;
        border-radius: 8px;
    }

    // &::placeholder {
    //     opacity: 50% !important;
       
    // }
}



.input_container {
    position: relative;
    display:flex;
    align-items: center;
    width: 100%;

    .input_field-with-search {
        width: 100%;
        // width: 40rem;
        padding: 1.5rem 1.5rem 1.5rem 4rem;
        background: #FFFFFF;
        border: none !important;
        box-sizing: border-box;
        // box-shadow: 0px 1.9px 0px $secondary-dark-grey;
        border-radius: 8px;
        outline: none !important;
        box-shadow: $input-with-search;
        
    
        &:focus {
            border: 0.9px solid $secondary-light-grey;
            box-sizing: border-box;
            box-shadow: $input-with-search-onFocus;
            border-radius: 8px;
            opacity: 100%;

        }

        &::placeholder {
            opacity: 30% !important;
           
        }
    }
   

    .search {
        position: absolute;
        // left: 1%;
        // top: 30%;
        opacity: 70%;
        margin-left: 1rem;
    }
    
}



.select_field {
    // width: 25rem;
    width: 100%;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    border: 0.9px solid $secondary-dark-grey;
    box-sizing: border-box;
    box-shadow: 0px 1.9px 0px  $secondary-dark-grey;
    border-radius: 8px;
    outline: none !important;
    background:url('/pictures/select_arrow.svg') 90% 50% no-repeat;
    -webkit-appearance: none !important ;
    -moz-appearance:none !important;
    appearance: none !important;
    // clip-path: circle(50% at 50% 50%);
    

    option {
        border: 0.9px solid #C9C9C9;
        box-sizing: border-box;
        border-radius: 8px;
       
    }
}



//! SELECT ELEMENT
.dropdown {
    // width: 30rem;
    width: 100%;
    position: relative;
    background-origin: padding-box;
    box-sizing: border-box;
    box-shadow: 0px 1.9px 0px  $secondary-dark-grey;
    border-radius: 8px;
    border: 0.9px solid #C9C9C9;

}
//   .dropdown:hover .dropdown-list {
//     opacity: 1;
//     visibility: visible;
//   }
  .dropdown-select {
    // background:url("/pictures/select_arrow.svg") 75% 53% no-repeat;
    padding:1.2rem 1.5rem 1.2rem 1.5rem;
    position: relative;
    border-radius: 8px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    // cursor: pointer;
    @include flex;

    img {
        cursor: pointer;
        // position: absolute;
        margin-left: 1.5rem;
    }
    

    .select {
        opacity: 70%;
    }
  }
  .dropdown-list {
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    height: 0;
    opacity: 0;
    
    transition:  height .2s;

    &__item {
        padding: 1rem;
        font-size: 1.4rem;
        // display: none;
    }

  }


.dropdown_animation {
    height: auto;
    max-width: 300px;
    display: block;
    opacity: 1;
}
.dropdown_animation__list {
    height: auto;
    display: block;
}
