.color\:.red\; {
    color: var(--primary-red);
}
.color\:.blue\; {
    color: var(--primary-blue);
}

.color\:.yellow\; {
    color: var(--primary-yellow);
}

.color\:.green\; {
    color: var(--primary-green);
}
.color\:.gray\; {
    color: var(--primary-gray);
}
.color\:.dark\; {
    color: var(--primary-dark);
}
