@media only screen and (max-width: 790px) {
	.main--decoration-red-three,
	.second-section .window--three--btn:after,
	.main--decoration-red,
	.main .hero .window--three--btn:after {
		display:none;

	}
	.third-section {
		.courses-offer {
		  grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
}

    :nth-last-child(-n+3) {
        align-self: center;
     }
	}

.fifth-section {

	margin-top: 3rem;

	.get-started {
    	grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr;
        width: 90%;
        // width: $max-width-in-rem;
        

    }

    .left-side {
        grid-row: 1/2;
        color: $white;
        grid-column:1/3;
        margin-bottom: 3rem;
        text-align:center;
    }

    .right-side {
        grid-row: 2/2;
        grid-column:1/3;
    }
}

		.main{

		.hero {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;

			&--left{
				@include left-side;
            position: relative;
            grid-column:1/4;
            grid-row: 2/2;
			}

			&--right{
				@include right-side;
				position: relative;
            grid-column:1/2;
            grid-row: 1/2;
            

            &--image {

            	width: 80%;
               position: relative;

                background: {
                    // image: url("../pictures/hero image@4x.png");
                    size: contain;
                    position: center;
                    repeat: no-repeat;
                }
            	
            	transform: translate(-50%, -30%);
    				top: 50%;
    				left: 50%;
            }
			}

			.window{
				left: 55%;
			}
		}
	}

	.fifth-section {

	margin-top: 3rem;

	.get-started {
    	grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr;
        width: 90%;
        // width: $max-width-in-rem;
        

    }

    .left-side {
        grid-row: 1/2;
        color: $white;
        grid-column:1/3;
        margin-bottom: 3rem;
        text-align:center;
    }

    .right-side {
        grid-row: 2/2;
        grid-column:1/3;
    }

    .white-button {
	width: 290px;
	}
}

}




///  ======================ULTRA-MIN 360
@media only screen and (max-width:500px) {
	
		.third-section {

			.courses-offer {
		  grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
		  width: 90%;
		  grid-row-gap:10px;
		  height:165vh;

		  
		}
		.offers-card {
        width: 80%;
        display:flex;
        align-content: center;
        flex-direction: column;

        :nth-last-child(-n+2) {
        text-align: center;
     }
     }

     .offers-card--image {
        margin: 0rem 0rem 1.8rem 0rem;
     }

		
	

}

.fifth-section {

	margin-top: 3rem;

	.get-started {
    	grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr;
        width: 90%;
        // width: $max-width-in-rem;
        

    }

    .left-side {
        grid-row: 1/2;
        color: $white;
        grid-column:1/3;
        margin-bottom: 3rem;
        text-align:center;
    }

    .right-side {
        grid-row: 2/2;
        grid-column:1/3;
    }
}
	.fifth-section {
.white-button {
	width: 290px;
}
}

	.main{

		.hero {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;

			&--left{
				@include left-side;
            position: relative;
            grid-column:1/4;
            grid-row: 2/2;
			}

			&--right{
				@include right-side;
				position: relative;
            grid-column:1/4;
            grid-row: 1/2;
            

            &--image {

            	width: 100%;
               position: relative;

                background: {
                    // image: url("../pictures/hero image@4x.png");
                    size: 100%;
                    position: center;
                    repeat: no-repeat;
                }
            	
            	transform: translate(-45%, -30%);
    				top: 50%;
    				left: 50%;
            }
			}

			.window{
				left: 55%;
			}
		}
	}
}