.user-profile-section {
  width: 100%;
  //   height: 200vh;

  .profile-hero-img {
    @include background-properties("/pictures/profile/profile_banner_final.png"
    );
    width: 100%;
    height: 60vh;
  }

  &__container {
    display: grid;
    // flex-wrap: wrap;
    grid-template-columns: 0.8fr 1fr;
    gap: 0 30px;
  }

  .user-content {
    width: 100%;
    max-width: 85rem;
    padding: 8rem 0 0 0;
    // margin: 0 auto;
  }

  .user-profile-info {

    
    .fileUpload-errors{
        margin-top: 2rem;
    }

    .fileProperties {
        margin-top: 2rem;
        .file_size {
            word-break: break-all;
        }
    }

    
    &__container {
        

      //   height: 100vh;
      .user-profile {
        background-color: var(--primary-white);
        max-width: 40rem;
        width: 100%;
        margin-top: -12rem;
        position: relative;
        margin-left: 12vw;
        border-radius: 21px;
        box-shadow: 0px 49px 46px -28px rgba(0, 0, 0, 0.13),
          0px 4px 37px rgba(0, 0, 0, 0.04);
        padding: 15rem 2rem 2rem 2rem;

        .picture {
          @include background-properties("/pictures/profile/user-pic.png");
          border: 10px solid var(--primary-white);
          border-bottom-left-radius: 1000px;
          border-bottom-right-radius: 1000px;;
          position: absolute;
          height: 100%;
          max-height: 25rem;
          max-width: 60%;
          width: 100%;
          left: 22%;
          top: -15rem;

          .profile-use-pic {
            width: 100%;
            height: 100%;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
          }



          .verification-star {
            position: absolute;
            left: 80%;
            top: 80%;
            @include flex(initial, center, row);
            padding: 1rem;
            border-radius: 100px;
            box-shadow: 0px 30px 50px rgba(0, 0, 0, 15%);
            overflow: hidden;

            .star {
              width: 24px;
              height: 24px;
            }

            .verification-message {
              margin: 0 0.2rem 0 1rem;
            }
          }
        }

        &__creditionals {
            .user-email {
                @include flex(flex-start);

                svg {
                    margin-right: 2rem;
                }
            }

        .name-surname,.about-user {
            p {
                word-break: break-all;
            }
        }


          .email,
          .password,
          .about-user,
          .name-surname {
            margin-top: 4rem;

            .heading {
              margin-bottom: 1rem;
            }
          }

          .confirm-password {
            margin-top: 8rem;

            .heading {
              margin-bottom: 1.8rem;
            }
          }

          .user-socials {
            @include flex(stretch, center, row);
            gap: 0 1.4vw;
            margin: 5rem 0;
            width: 100%;

            &__container {
              box-shadow: 0px 10px 26px -4px rgba(0, 0, 0, 0.09),
                0px 4px 7px rgba(0, 0, 0, 0.02);
              cursor: pointer;
            }

            .social_url {
              @include flex(center, center, row);

              .box {
                @include background-properties("/pictures/profile/socials/facebook.svg",
                  contain);
                width: 2rem;
                height: 2rem;
                margin: 0 auto;
              }
            }
          }
        }

        .edit-btn,
        .confirmation-btn {
          margin-top: 5rem;
        }

        .cancel-btn {
          margin-top: 1rem;
        }

        .user-socials-inputs {
            margin-top: 8rem;
          :not(:first-child) {
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
}