.card--buttons {
	 @include button-in-cards;
   padding: 0.2rem 0rem 0.2rem 0rem;
   padding: 0.3rem 1.2rem;
   
    &:not(:first-child) {
        margin-left: 1rem;
    }
}


.yellow--button--card {
	border: 2px solid yellow;
  color: #949400;
  // padding: 0.3rem 1.2rem;
  
}

.blue--button--card {
	border: 2px solid #32a4d6;
   color: #146fb1;
}

.red--button--card {
	border: 2px solid red;
  color: red;
}

.pink--button--card {
	border: 2px solid #c76396;
  color: #9a5779
}

/// GET STARTED WHITE BTN
.white-button {
  background-color: $white;
//   color:$low-black-for-text;
  cursor:pointer;
  box-shadow:$box-shadow-for-btn-black;
  
}





