.big-title {
	font-family: "mtavruli bold";
	font-weight: normal;
	color: $low-black-for-text;
	line-height: 1;
	position: relative;
	font-size: calc(20px + (55 - 20) * ((100vw - 300px) / (1900 - 700))) !important;
}

.medium-title {
	font-family: "mtavruli bold";
	font-weight: normal;
	color: $low-black-for-text;
	line-height: 1;
	position: relative;
	font-size: calc(15px + (50 - 15) * ((100vw - 300px) / (1900 - 700))) !important;
}

.info-title {
	font-family: 'primary-text';
	color: $for-text-low-black-opacity;
	margin: 2.5rem 0rem;
	font-family: "primary-text";
   color: $for-text-low-black-opacity;
   margin: 2.8rem 0 4.8rem;
   font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1900 - 700))) !important;
}

.offers-title {
	font-family: "mtavruli bold";
	font-weight: normal;
	color: $low-black-for-text;
	line-height: 1;
	position: relative;
	font-size: calc(15px + (25 - 15) * ((100vw - 300px) / (1900 - 700))) !important;
}
.offers-info {
	font-family: 'primary-text';
	color: $for-text-low-black-opacity;
	margin: 2.5rem 0rem;
	font-size: calc(12px + (14 - 9) * ((100vw - 300px) / (1900 - 700))) !important;
}

