//* SIDE_MENU
.side-menu {
    height: 75rem;
    position: sticky;
    margin-top: 3.4rem;
    position: sticky;
    top: 100px;

    

    &__container {
        border: 0.5px solid var(--secondary-dark-grey);
        border-radius: 8px;
        
        &:not(:first-child) {
            margin-top: 2rem;
            
        }
    }

    .card_container {
        box-shadow: none;

        .card {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            height: auto;
            padding: 2rem;
            position: relative;
            // background-color: var(--white);
            cursor: pointer;


            &__number {
                // background: #FFFFFF;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
                border-radius: 8px;
                padding: 1rem 1.5rem 1rem 1.5rem;
            }

            &__text {
                margin-left: 2.3rem;

                p{
                font-size: calc(14px + (19 - 14) * ((100vw - 300px) / (1900 - 700))) !important;

                }

            }

            &__time {
                position: absolute;
                top: -1.5rem;
                right: 1rem;
                padding: .4rem;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
                border-radius: 5px;
                background-color: var(--white);

                p {
                    opacity: 1;
                    line-height: 134.99%;
                    font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1900 - 700))) !important;
                }
            }
        }
    }

    //! რაც იკეცება და იშლება
    .card_container__info {
        background-color: white;
        border-left: 2px solid var(--primary-green);
        // box-shadow: $card-shadow;
        border-radius: 3px;


        &--details {
            display: flex;
            // justify-content: flex-start;
            // align-items: center;
            width: 100%;
            padding: 2rem 0rem 2rem 0rem;
            cursor: pointer;
            position: relative;



            .details_heading {
                margin-left: 6.2rem;
                margin-top: -0.60rem;

                span {
                    margin-left: .8rem;
                }


            }

        }
    }

}