.curriculum {
    min-height: 100vh;
  .curriculum-container {
    &:not(:first-child) {
      margin-top: 5rem;
    }

    
    [data-state="true"] {
        height: 8rem;
        overflow: hidden;
    }

    .new-chapter {
      margin-top: 4rem;
      padding: 0 0 2rem 0;
      border-radius: 18px;
      border: 0.5px solid var(--secondary-dark-grey);
      box-sizing: border-box;
      box-shadow: 0px 23px 42px -6px rgba(17, 23, 53, 0.1);


      
      .add-new-chapter {
        @include flex(space-between, center);

        .change-chapter_name {
          padding: 0 0 0 4rem;
          @include flex(space-between, center);

          .chapter-name {
            margin-right: 1rem;
          }

          .pencil {
            transform: translateY(7px);
            cursor: pointer;
          }
        }

        .delete-dropdown {
          @include flex();

          .dropdown {
            margin-right: 3rem;
            cursor: pointer;
          }

          .delete {
            width: 9rem;
            height: 8rem;
            background-color: var(--primary-red);
            border-radius: 0px 18px;
            cursor: pointer;
            @include flex();
          }
        }
      }

      /// curriculumVideoComponent
      .curriculum-video {
        width: 100%;
        max-width: 68rem;
        margin: 7rem auto;

        .curriculum-video-container {
          margin-top: 4rem;
          padding: 0 0 2rem 0;
          border-radius: 18px;
          border: 0.5px solid var(--secondary-dark-grey);
          box-sizing: border-box;
          box-shadow: 0px 23px 42px -6px rgba(17, 23, 53, 0.1);

          .video-upload-section {
            video {
              height: auto;
              width: 100%;
              object-fit: cover;
            }

            .fileProperties {
              margin: 0 0 0 4rem;
            }
            .fileUpload-errors,
            .duration {
              margin: 2rem 0 0 4rem;
            }
          }
        }
      }
    }
  }
}
