.price-sale-error {
  margin-top: 2rem;
}

.text-editor {
  //   height: 200vh;

  &__container {
    margin-bottom: 25rem;

    .name,
    .short-description,
    .detailed-description,
    .categories-selects,
    .course-image {
      margin-top: 6rem;

      .heading {
        margin-bottom: 1.5rem;
      }
    }

    .detailed-description {
      &__text-area {
        min-height: 55rem;
        height: 100%;
      }
    }

    .categories-selects {
      width: 100%;
      &__container {
        @include flex(space-between);

        @media screen and (max-width: $small-screen) {
          flex-direction: column;

          .select {
            width: 100%;
            margin-top: 2rem;
          }
        }
      }
    }

    .what-will-you-learn {
      margin-top: 15rem;

      .heading {
        margin-bottom: 1.5rem;
      }

      .container {
        .input_container {
          &:not(:first-child) {
            margin-top: 3rem;
          }
        }

        .delete-inputs {
          margin-top: 5rem;

          &:hover {
            border: 2px dashed var(--primary-blue);
          }
        }
      }
    }

    .difficulty {
      margin-top: 15rem;

      @media screen and (max-width: $small-screen) {
        .select {
          width: 100%;
        }
      }
      .heading {
        margin-bottom: 1.5rem;
      }
    }
  }

  .course-form-btn {
    margin: 0 auto;

    @media screen and (max-width: $small-screen) {
      width: 100%;
    }
  }

  .course-image {
    &__container {
      @include flex();
      gap: 20px;

      @media screen and (max-width: $small-screen) {
        flex-wrap: wrap;
      }

      .thumbnail {
        @include background-properties(
          "/pictures/bottom-navigation/bottom_navigation_search.png"
        );
        width: 50%;
        min-height: 30rem;
        height: 100%;
        border-radius: 20px;

        @media screen and (max-width: $small-screen) {
          min-height: 25rem;
        }
      }
      .upload_container {
        width: 50%;

        @media screen and (max-width: $small-screen) {
          width: 100%;
        }
      }
    }
  }
}
