.curriculum {
  min-height: 100vh;
  margin-bottom: 5rem;

  .curriculum-container {
    &:not(:first-child) {
      margin-top: 5rem;
    }


    [data-open="true"] {
      height: 8rem;
      overflow: hidden;

      @media screen and (max-width: $small-screen) {
        height: 6.2rem;
      }
    }



    .new-chapter {
        // background-color: var(--secondary-dark-grey);
      overflow: hidden;
      margin-top: 4rem;
      padding: 0 0 2rem 0;
      border-radius: 18px;
      border: 0.5px solid var(--secondary-dark-grey);
      box-sizing: border-box;
      box-shadow: 0px 23px 42px -6px rgba(17, 23, 53, 0.1);

      .video_upload-errors {
        padding: 0 0 0 4.5rem;
      }





      .add-new-chapter {
        @include flex(space-between, center);

        .change-chapter_name {
          padding: 0 0 0 3vw;
          @include flex(space-between, center);


          .chapter-name {
            @include flex(initial, center);

            .chapter-title {
              margin-right: calc(1rem + .5vw);
            }

            .change-name-input {
              width: 100%;
              @include flex();


              .editable-btn {
                margin-left: calc(1rem + .5vw);
              }
            }
          }



          .pencil {
            transform: translateY(7px);
            cursor: pointer;
            margin-left: calc(1rem + .5vw);
          }
        }






        .delete-dropdown {
          @include flex();

          .dropdown {
            margin-right: 3rem;
            cursor: pointer;

            @media screen and (max-width: $small-screen) {
                margin: 0 1rem;
            }
          }

          .delete {
            width: 9rem;
            height: 8rem;
            background-color: var(--primary-red);
            border-radius: 0px 18px;
            cursor: pointer;
            @include flex();

            @media screen and (max-width: $small-screen) {
                width: 7rem;
                height: 6rem;
              }
          }
        }
      }





      /// curriculumVideoComponent
      .curriculum-video {
        width: 100%;
        max-width: 75rem;
        margin: 7rem auto;
        padding: 0 2vw;
        

        .curriculum-video-container {
          margin-top: 4rem;
          padding: 0 0 2rem 0;
          border-radius: 18px;
          border: 0.5px solid var(--secondary-dark-grey);
          box-sizing: border-box;
          box-shadow: 0px 23px 42px -6px rgba(17, 23, 53, 0.1);

          .video-upload-section {
            .upload_container {
              margin: calc(2rem + 1vh);

              @media screen and (max-width: $small-screen) {
                max-width: initial !important;
                width: initial;
              }
            }

            video {
              height: auto;
              max-width: 37rem;
              width: 100%;
              object-fit: cover;
              border-radius: 10px;
              margin-left: calc(2rem + 1vh);

              @media screen and (max-width: $small-screen) {
                max-width: initial !important;
                width: 90%;
                margin-left: calc(1rem + 1vh);
              }
            }



            .fileProperties {
              margin: 0 0 0 4rem;
            }



            .file-size-name {
              @include flex(initial, center);

              svg,
              h1 {
                color: var(--secondary-light-dark);
              }

              .file_size {
                margin: 0 1rem;
              }
            }


            .fileUpload-errors,
            .file-size-name,
            .duration {
              margin: 2rem 0 2rem 4rem;
            }
          }
        }
      }
    }
  }
}