$overlay-container-gradient: linear-gradient(
  360deg,
  #ffffff 77.29%,
  rgba(255, 255, 255, 0) 100.55%
);

.landing_courses {
  position: relative;
  width: 100%;

  .overlay_container {
    display: block;
    position: absolute;
    width: 100%;
    background: $overlay-container-gradient;
    bottom: 0;
    // height: 21vw;
    z-index: 2;

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      @include hundred-w-h;
      margin-top: -5rem;
    }

    .see_more_arrow {
      margin-left: 1rem;
      margin-top: 0.5rem;
      cursor: pointer;
    }

    p {
      color: var(--primary-green);
      cursor: pointer;
    }
  }

  &--cards {
    width: 100%;
    // height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 100px 20px;
    margin-top: 5rem;

    .PrimaryContentCard{
        max-width: initial;
        width: 100%;
    }
  }
}
