//! აქ არის მხოლოდ მთავარი გვერდი მთავარი სტილები მაგ:გრიდები ფლექსები 
//! და ა.შ და დანარჩენ დიდ კომპონენეტებს ყველს თავისი ფაილი აქვს

//! კარუსელს თავისი ცსს ფაილი აქვს
.main_content {
    // height: 150vh;
    width: 100%;
    margin-top: 3rem;
    // background-color: white;
    padding: var(--main-pading);
    display: flex;
    flex-direction: column;

    &--container {
        display: grid;
        grid-template-columns: 18% 79%;
        gap: 0px 50px;
    }

    &--input {
        @include flex;
        // align-items: center !important;


        .input_styles {
            width: 100% !important;
            letter-spacing: 1px;
            font-weight: normal;
        }

        .sorting {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-left: 3rem;

        }
    }

}


