.margin-right {
    margin-right: 3rem;
  }
  
  
  
  //! რომ არ მოინიშნოს დაჭერისას
  .noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
      supported by Chrome, Edge, Opera and Firefox */
  }
  
  
  
  
  
  //! ფასის სტილები მთავარ გვედზე რომ არის
  .price-tag-base-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-white);
    border-radius: 18px 0px 0px 0px;
  
    p {
      color: var(--primary-dark);
      opacity: 60%;
    }
  }
  .normal-price {
    padding: 0.3rem 0.2rem 0.2rem 1.2rem;
  }
  
  .removed-price-tag {
    padding: 0.3rem 0.3rem 0.2rem 0.6rem;
  }
  

  .discounted_price_line {
      &:after {
          content: "";
          position: absolute;
          width: 4.4rem;
          height: 0.3rem;
          background-color: var(--primary-red);
          top: 45%;
          opacity: 60%;
          z-index: 1;
        }
    }
  
  

  
  
  
  
  
  .clip-path-hide {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%) !important;
    height: 0;
  }
  
  .clip-path-reveal {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    height: auto;
  }
  
  //! კურსის გვერდზე რონ სპიტკაა მისი ანთება ჩაქრობა
  .details_not_finished {
    &:before {
      @include after;
      height: 2rem;
      width: 2rem;
      margin-left: 3rem;
      @include background-properties(
        "/pictures/courses/courses-white-eclipse.svg",
        initial,
        center
      );
      display: inline-block;
      margin-bottom: 0;
      margin-top: -4px;
    }
  }
  
  .details_finished {
    &:before {
      @include after;
      @include background-properties(
        "/pictures/courses/courses_side_menu_finished.svg",
        initial,
        center
      );
      height: 2rem;
      width: 2rem;
      margin-left: 3rem;
      padding-left: 20px;
      margin-bottom: 0;
      margin-top: -4px;
    }
  }
  