
// =====================
// margin top
// =====================


.m_t_1{
    margin-top: 1rem !important;
}


.m_t_2{
    margin-top: 2rem !important;
}

.m_t_3{
    margin-top: 3rem !important;
}

.m_t_4{
    margin-top: 4rem !important;
}


// =====================
// margin bottom
// =====================
.m_b_1{
    margin-bottom: 1rem !important;
}


.m_b_2{
    margin-bottom: 2rem !important;
}

.m_b_3{
    margin-bottom: 3rem !important;
}

.m_b_4{
    margin-bottom: 4rem !important;
}




// =====================
// margin bottom and top
// =====================
.m_tb_1{
    margin: 1rem 0 !important;
}


.m_tb_2{
    margin: 2rem 0 !important;
}

.m_tb_3{
    margin: 3rem 0 !important;
}

.m_tb_4{
    margin: 4rem 0 !important;
}


// =====================
// margin left and right
// =====================
.m_lr_1{
    margin: 0 1rem !important;
}


.m_lr_2{
    margin: 0 2rem !important;
}

.m_lr_3{
    margin: 0 3rem !important;
}

.m_lr_4{
    margin: 0 4rem !important;
}



