.input-shadow {
    box-shadow: $input;
}

.input-shadow-onFocus {
    &:focus {
        box-shadow: $input-onFocus;
    }

}

.line-height {
    line-height: 180%;
}

.learning-list__line {
    width: 85%;
    background-color: #C9C9C9;
    height: 1px;
    margin: 5rem auto;
}


//! რომ არ მოინიშნოს დაჭერისას
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}




//! ფასის სტილები მთავარ გვედზე რომ არის
.normal-price {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6rem;
    height: 4rem;
    background-color: $white;
    color: $primary-dark;
    border-radius: 8px 0px 15px;

}

.removed-price-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -1rem;
    position: relative;
    width: 6rem;
    height: 4rem;
    background-color: $white;
    color: $primary-dark;
    border-radius: 8px 0px 0px;

    p {
        opacity: 60%;
    }

    &:after {
        content: "";
        position: absolute;
        width: 4.4rem;
        height: .3rem;
        background-color: $primary-red;
        top: 2rem;
        opacity: 60%;
    }
}

//! CHECKBOX on Index

.side-menu-checkbox {
    @include checkbox;
}

.outside-list-check {
    @include checkbox;
}

.inside-list-check {
    @include checkbox;
}


.checked-checkbox {
    width: 2rem;
    height: 2rem;
    background: no-repeat url("/pictures/courses/checkbox__checked_black.svg");
    background-size: cover;
    background-position: center;
}

//! CHECKBOX on Index



.clip-path-hide {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%) !important;
    height: 0;
    // opacity: 0;
}

.clip-path-reveal {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    height: auto;
    // opacity: 1;
}

//! BORDER
.gray-border {
    // opacity: 0.5;
    border-bottom: 1px solid $secondary-dark-grey;
}

.blue-border {
    border-bottom: 1px solid $primary-blue;
    filter: blur(9px);
}

.yellow-border {
    border-bottom: 1px solid $primary-yellow;
    filter: blur(9px);
}

.yellow-border {
    border-bottom: 1px solid $primary-green;
    filter: blur(9px);
}

.yellow-border {
    border-bottom: 1px solid $primary-red;
    filter: blur(9px);
}



//! კურსის გვერდზე რონ სპიტკაა მისი ანთება ჩაქრობა
.details_not_finished {
    &:before {
        content: "";
        height: 2rem;
        margin-left: 3rem;
        background: no-repeat url("/pictures/courses/courses-white-eclipse.svg");
        background-position: center;
        display: inline-block;
        padding-left: 20px;
        margin-bottom: 0;
        margin-top: 0;
        position: absolute;
    }

}

.details_finished {
    &:before {
        content: "";
        position: absolute;
        height: 2rem;
        margin-left: 3rem;
        background: no-repeat url("/pictures/courses/courses_side_menu_finished.svg");
        background-position: center;
        display: inline-block;
        padding-left: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }

}


.dummy_pics {
    background: no-repeat url("/pictures/courses/profile_picture.png");
    background-size: cover;
    background-position: center;
    width: 10rem;
    height: 9rem;
}