:root {
    //! MAIN-COLORS
    --secondary-dark-blue:  #0B6BD7;;
    --primary-blue: #338eff;
    --secondary-light-blue: #4b9bfe;

    --secondary-dark-dark: #131519;
    --primary-dark: #191b1f;
    --secondary-light-dark: #636469;

    --secondary-dark-dark-blue: #0C3BEA;
    --primary-dark-blue: #2448e7;
    --secondary-light-dark-blue: #7A90F0;


    --secondary-dark-green: #10B435;
    --primary-green: #16c93e;
    --secondary-light-green: #4FD96E;
    
    --secondary-light-grey: #F9F9F9;
    --primary-grey: #f5f5f5;
    --secondary-dark-grey: #C9C9C9;
    --secondary-darker-grey: #9D9D9D;
    

    --secondary-dark-red: #F94505;
    --primary-red: #ff5c4d;
    --secondary-light-red: #FF948D;
    

    --secondary-dark-yellow: #e7b604;
    --primary-yellow: #ffd703;
    --secondary-light-yellow: #FCE984;
    
    --secondary-light-black: #13151a;
    --secondary-darkest-gray: #48ae7d;
    --white: white;

    // --primary-dark-blue: rgba(11, 107, 215, 1);
    // --secondary-dark-dark-blue: #0072ff;
    // --secondary-dark-green: #10b435;
    // --secondary-dark-grey: #c9c9c9;
    // --secondary-dark-red: #f94505;
    // --secondary-dark-yellow: #ffc703;
   
    // --secondary-light-dark-blue: #7a90f0;
    // --secondary-light-grey: #f9f9f9;
    // --secondary-light-green: #4fd96e;
    // --secondary-light-red: #ff948d;
    // --secondary-lightHgrey: rgba(245, 245, 245,1);
    

    //! BOX Shadow
    
    --text-input-shadow:0px 2px 3px rgba(0, 0, 0, 0.03), 0px 9px 23px -6px rgba(0, 0, 0, 0.1), inset 0px -3px 8px -4px rgba(0, 0, 0, 0.1);
    --box-shadow-for-primary: 0px 30px 35px -20px rgba(51, 142, 255, 0.4);
    --box-shadow-for-navigation: 0px 3px 94px -20px rgba(0, 0, 0, 0.13);
    --input: 0px 4.4px 12px rgba(17, 23, 53, 0.12);
    --input-onFocus: 0px -11px 19px -8px rgba(0, 0, 0, 0.03), 0px 6px 15px -7px rgba(0, 0, 0, 0.1), 0px 11px 12px -5px rgba(17, 23, 53, 0.06);
    --box-shadow-for-video-files: 0px 5.4px 23px rgba(0, 158, 72, 0.5);
    --shadowSmallest: 0px 4px 8px rgba(0, 0, 0, 0.12);
    --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
    --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
    --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
    --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
    --shadow-sticky: 0 12px 10px -10px rgba(0, 0, 0, 0.12);
    --shadow-smallest: 0px 4px 8px rgba(0, 0, 0, 0.12);

    ///! =============Fonts-Families
    --extra-bold: "georgian-extra-bold", "Eina-semibold", "sailec-bold";
    --bold: "georgian-bold", "Eina-semibold", "sailec-bold";
    --semi-bold: "georgian-semi-bold", "Eina-semibold", "sailec-bold";
    --medium: "georgian-medium", "Eina-semibold", "sailec-medium";
    --light: "georgian-light", "Eina-semibold", "sailec-medium";
    --regular: "georgian-regular", "Eina-regular", "sailec-medium";
    --regular-arial: "georgian-regular-arial", "Eina-semibold", "sailec-medium";
    --regular-bold: "georgian-regular", "Eina-semibold", "sailec-bold";
    
    //! MAX WIDTH
    --max-width-in-rem: 170rem;
    --main-pading: 0vw 3.8vw 0vw 3.8vw;

    // LOADING ANIMATION
    --css-dot-animation: pulse 0.5s ease infinite alternate;
    --delay: 1.5s;

}


//! BREAKPOINTS
$ultra-small-breakpoint: 400px;
$small-breakpoint:768px;
$medium-breakpoint:1366px;

$transition:all .1s cubic-bezier(0, 1.06, 0.37, 0.38);